TeamWildWest/node-red-contrib-mediapipe/examples/Hostlic detection (10 images).json
[{"id":"e8ebc4c4.963dc8","type":"tab","label":"플로우 1","disabled":false,"info":""},{"id":"54d1270d.cea078","type":"open","z":"e8ebc4c4.963dc8","x":330,"y":120,"wires":[["6dbd1774.394da8"]]},{"id":"a3838968.810a68","type":"inject","z":"e8ebc4c4.963dc8","name":" mediaPipe Server start","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":140,"y":120,"wires":[["54d1270d.cea078"]]},{"id":"6dbd1774.394da8","type":"debug","z":"e8ebc4c4.963dc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":490,"y":120,"wires":[]},{"id":"ee464915.5ba0e8","type":"inject","z":"e8ebc4c4.963dc8","name":" mediaPipe Server close","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":140,"y":340,"wires":[["eab145f1.d93e38"]]},{"id":"fc16f236.22974","type":"debug","z":"e8ebc4c4.963dc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":490,"y":340,"wires":[]},{"id":"eab145f1.d93e38","type":"close","z":"e8ebc4c4.963dc8","x":330,"y":340,"wires":[["fc16f236.22974"]]},{"id":"8c834af3.9f2288","type":"debug","z":"e8ebc4c4.963dc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":830,"y":280,"wires":[]},{"id":"bbd6a721.da5af8","type":"inject","z":"e8ebc4c4.963dc8","name":"start Holistic : 1.png ~ 10.png","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":160,"y":180,"wires":[["7af52609.b586b8"]]},{"id":"7af52609.b586b8","type":"function","z":"e8ebc4c4.963dc8","name":"","func":"msg.count = 0;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":180,"wires":[["47da2c9e.9d6ce4"]]},{"id":"47da2c9e.9d6ce4","type":"function","z":"e8ebc4c4.963dc8","name":"","func":"msg.count++;\nmsg.payload = \"C:\\\\Users\\\\TeamWildWest\\\\Downloads\\\\\" + msg.count + \".png\";\n\nif(msg.count <= 10)\n    return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":180,"wires":[["8e071569.e1d7e8","a5ba6903.6e8828"]]},{"id":"8e071569.e1d7e8","type":"function","z":"e8ebc4c4.963dc8","name":"","func":"msg.count++;\nmsg.payload = \"C:\\\\Users\\\\TeamWildWest\\\\Downloads\\\\\" + msg.count + \".png\";\nif(msg.count <= 10)\n    return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":260,"wires":[["47da2c9e.9d6ce4","a5ba6903.6e8828"]]},{"id":"a5ba6903.6e8828","type":"holistic","z":"e8ebc4c4.963dc8","path":"","x":800,"y":220,"wires":[["8c834af3.9f2288"]]}]