FLOW.json
[{"id":"746135943667d1dd","type":"tab","label":"플로우 2","disabled":false,"info":""},{"id":"07893a73d9ccb65b","type":"http in","z":"746135943667d1dd","name":"","url":"/mediapipe","method":"get","upload":false,"swaggerDoc":"","x":140,"y":100,"wires":[["f0a7049f3d4b8bf8","ea8ee4dc068edfa4"]]},{"id":"db49d1d7f47937e1","type":"websocket in","z":"746135943667d1dd","name":"","server":"e9b870a1bbf9569d","client":"","x":110,"y":360,"wires":[["abe3faaeb0f49cc5","b9ac9295fa2361ec"]]},{"id":"d7cf388dd3b73285","type":"debug","z":"746135943667d1dd","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":510,"y":360,"wires":[]},{"id":"abe3faaeb0f49cc5","type":"function","z":"746135943667d1dd","name":"","func":"msg.payload = JSON.parse(msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":360,"wires":[["d7cf388dd3b73285"]]},{"id":"cfee3a174fe1d794","type":"http in","z":"746135943667d1dd","name":"","url":"/monitor","method":"get","upload":false,"swaggerDoc":"","x":130,"y":1080,"wires":[["23d989470bb63ba7"]]},{"id":"339e9c152ee0316e","type":"http response","z":"746135943667d1dd","name":"","statusCode":"200","headers":{},"x":490,"y":1080,"wires":[]},{"id":"385849e2f3e54f79","type":"socket-server","z":"746135943667d1dd","name":"","order":0,"width":6,"height":6,"port":1881,"x":140,"y":1000,"wires":[]},{"id":"ed8c661e4903d5e8","type":"http response","z":"746135943667d1dd","name":"","statusCode":"200","headers":{},"x":520,"y":220,"wires":[]},{"id":"f0a7049f3d4b8bf8","type":"mediapipe","z":"746135943667d1dd","name":"","order":0,"width":6,"height":6,"isMirror":1,"mirrorPort":1881,"x":340,"y":220,"wires":[["ed8c661e4903d5e8"]]},{"id":"23d989470bb63ba7","type":"monitor","z":"746135943667d1dd","name":"","order":0,"width":6,"height":6,"mirrorPort":1881,"x":320,"y":1080,"wires":[["339e9c152ee0316e"]]},{"id":"bba3dd23e451de68","type":"debug","z":"746135943667d1dd","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":680,"y":440,"wires":[]},{"id":"32409b37ca183d9a","type":"switch","z":"746135943667d1dd","name":"","property":"payload.regist","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":440,"wires":[["bba3dd23e451de68"],["bfa60f07d816f0e4"]]},{"id":"b9ac9295fa2361ec","type":"json","z":"746135943667d1dd","name":"","property":"payload","action":"","pretty":false,"x":310,"y":440,"wires":[["32409b37ca183d9a"]]},{"id":"bfa60f07d816f0e4","type":"debug","z":"746135943667d1dd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":680,"y":500,"wires":[]},{"id":"3743a6877f7a30b3","type":"websocket in","z":"746135943667d1dd","name":"","server":"e9b870a1bbf9569d","client":"","x":120,"y":720,"wires":[["1756a9335017ef3d","a9906a2680baab36"]]},{"id":"ace60178b33a4393","type":"pose-similarity","z":"746135943667d1dd","name":"","x":630,"y":840,"wires":[["cbb3ed4bd6a5d495"]],"icon":"font-awesome/fa-male"},{"id":"a9906a2680baab36","type":"function","z":"746135943667d1dd","name":"Pose Similarity Function","func":"\n\nlet input = JSON.parse(msg.payload)\nlet keypointsBuffer = flow.get('keypointsBuffer') || []\nlet bufferlength = 150\n\nkeypointsBuffer.push(input)\nif (keypointsBuffer.length > bufferlength) {\n        keypointsBuffer.shift()\n}\n\nflow.set('keypointsBuffer', keypointsBuffer)\n\n\nlet savedKeypoints = {\n    'pose1' : [\n\t  {\n\t\tx: 0.5127502083778381,\n\t\ty: 0.3484715521335602,\n\t\tz: -0.7645496129989624,\n\t\tvisibility: 0.9999882578849792\n\t  },\n\t  {\n\t\tx: 0.5202495455741882,\n\t\ty: 0.31528159976005554,\n\t\tz: -0.7405415177345276,\n\t\tvisibility: 0.9999582171440125\n\t  },\n\t  {\n\t\tx: 0.5262174606323242,\n\t\ty: 0.31519225239753723,\n\t\tz: -0.7399324178695679,\n\t\tvisibility: 0.999970018863678\n\t  },\n\t  {\n\t\tx: 0.5317984223365784,\n\t\ty: 0.31509530544281006,\n\t\tz: -0.7399235963821411,\n\t\tvisibility: 0.999954879283905\n\t  },\n\t  {\n\t\tx: 0.5008791089057922,\n\t\ty: 0.3131275475025177,\n\t\tz: -0.745046854019165,\n\t\tvisibility: 0.9999710917472839\n\t  },\n\t  {\n\t\tx: 0.49268656969070435,\n\t\ty: 0.3119525611400604,\n\t\tz: -0.7452746629714966,\n\t\tvisibility: 0.9999830722808838\n\t  },\n\t  {\n\t\tx: 0.48553356528282166,\n\t\ty: 0.311267226934433,\n\t\tz: -0.7452396154403687,\n\t\tvisibility: 0.9999799728393555\n\t  },\n\t  {\n\t\tx: 0.5342467427253723,\n\t\ty: 0.3207939565181732,\n\t\tz: -0.549290657043457,\n\t\tvisibility: 0.9999823570251465\n\t  },\n\t  {\n\t\tx: 0.46610522270202637,\n\t\ty: 0.3142077624797821,\n\t\tz: -0.5688360333442688,\n\t\tvisibility: 0.9999947547912598\n\t  },\n\t  {\n\t\tx: 0.5210683345794678,\n\t\ty: 0.3786444067955017,\n\t\tz: -0.6873353123664856,\n\t\tvisibility: 0.999986469745636\n\t  },\n\t  {\n\t\tx: 0.4987563490867615,\n\t\ty: 0.3797175884246826,\n\t\tz: -0.6930750608444214,\n\t\tvisibility: 0.9999930262565613\n\t  },\n\t  {\n\t\tx: 0.5884202122688293,\n\t\ty: 0.448921799659729,\n\t\tz: -0.41984662413597107,\n\t\tvisibility: 0.9999550580978394\n\t  },\n\t  {\n\t\tx: 0.4008875787258148,\n\t\ty: 0.4507942199707031,\n\t\tz: -0.44456052780151367,\n\t\tvisibility: 0.9999707341194153\n\t  },\n\t  {\n\t\tx: 0.716405987739563,\n\t\ty: 0.4351431131362915,\n\t\tz: -0.7025100588798523,\n\t\tvisibility: 0.9996529221534729\n\t  },\n\t  {\n\t\tx: 0.2856208086013794,\n\t\ty: 0.4635056257247925,\n\t\tz: -0.713823676109314,\n\t\tvisibility: 0.999833881855011\n\t  },\n\t  {\n\t\tx: 0.6634426712989807,\n\t\ty: 0.2122822254896164,\n\t\tz: -0.9674248695373535,\n\t\tvisibility: 0.9992005228996277\n\t  },\n\t  {\n\t\tx: 0.3293188810348511,\n\t\ty: 0.2405264526605606,\n\t\tz: -0.9710879325866699,\n\t\tvisibility: 0.9997350573539734\n\t  },\n\t  {\n\t\tx: 0.654142439365387,\n\t\ty: 0.15791954100131989,\n\t\tz: -1.0288525819778442,\n\t\tvisibility: 0.9936606287956238\n\t  },\n\t  {\n\t\tx: 0.3323003947734833,\n\t\ty: 0.18732352554798126,\n\t\tz: -1.0427982807159424,\n\t\tvisibility: 0.9977527856826782\n\t  },\n\t  {\n\t\tx: 0.6400797963142395,\n\t\ty: 0.15546956658363342,\n\t\tz: -0.9806702733039856,\n\t\tvisibility: 0.9922082424163818\n\t  },\n\t  {\n\t\tx: 0.3467172086238861,\n\t\ty: 0.18484613299369812,\n\t\tz: -0.9884087443351746,\n\t\tvisibility: 0.9972468614578247\n\t  },\n\t  {\n\t\tx: 0.640140175819397,\n\t\ty: 0.17466388642787933,\n\t\tz: -0.9584549069404602,\n\t\tvisibility: 0.9924517273902893\n\t  },\n\t  {\n\t\tx: 0.3514927625656128,\n\t\ty: 0.20337918400764465,\n\t\tz: -0.9620863199234009,\n\t\tvisibility: 0.9968199729919434\n\t  },\n\t  {\n\t\tx: 0.562447726726532,\n\t\ty: 0.8698843121528625,\n\t\tz: 0.011500516906380653,\n\t\tvisibility: 0.931684672832489\n\t  },\n\t  {\n\t\tx: 0.4433068633079529,\n\t\ty: 0.8794788122177124,\n\t\tz: -0.010724632069468498,\n\t\tvisibility: 0.9469003677368164\n\t  },\n\t  {\n\t\tx: 0.5622636079788208,\n\t\ty: 1.2220916748046875,\n\t\tz: -0.12553247809410095,\n\t\tvisibility: 0.302400141954422\n\t  },\n\t  {\n\t\tx: 0.44542115926742554,\n\t\ty: 1.2083072662353516,\n\t\tz: -0.07870990037918091,\n\t\tvisibility: 0.2046704888343811\n\t  },\n\t  {\n\t\tx: 0.5611519813537598,\n\t\ty: 1.5011649131774902,\n\t\tz: 0.2194506824016571,\n\t\tvisibility: 0.009829629212617874\n\t  },\n\t  {\n\t\tx: 0.439523845911026,\n\t\ty: 1.511884093284607,\n\t\tz: 0.1352260410785675,\n\t\tvisibility: 0.02123948000371456\n\t  },\n\t  {\n\t\tx: 0.5606144666671753,\n\t\ty: 1.5377485752105713,\n\t\tz: 0.2448822259902954,\n\t\tvisibility: 0.022145025432109833\n\t  },\n\t  {\n\t\tx: 0.43802985548973083,\n\t\ty: 1.558651089668274,\n\t\tz: 0.14886151254177094,\n\t\tvisibility: 0.026273280382156372\n\t  },\n\t  {\n\t\tx: 0.5436438918113708,\n\t\ty: 1.630968689918518,\n\t\tz: 0.03643977642059326,\n\t\tvisibility: 0.004938286263495684\n\t  },\n\t  {\n\t\tx: 0.45374059677124023,\n\t\ty: 1.6227662563323975,\n\t\tz: -0.08538103103637695,\n\t\tvisibility: 0.014241080731153488\n\t  }\n\t],\n    'pose2' : [\n      {\n        x: 0.46045589447021484,\n        y: 0.25528860092163086,\n        z: -0.49055832624435425,\n        visibility: 0.9996473789215088\n      },\n      {\n        x: 0.4703933596611023,\n        y: 0.21590179204940796,\n        z: -0.4654623568058014,\n        visibility: 0.9990987777709961\n      },\n      {\n        x: 0.47650232911109924,\n        y: 0.21528631448745728,\n        z: -0.4651026725769043,\n        visibility: 0.9992490410804749\n      },\n      {\n        x: 0.4831027090549469,\n        y: 0.21519289910793304,\n        z: -0.4651106894016266,\n        visibility: 0.9990409016609192\n      },\n      {\n        x: 0.44801706075668335,\n        y: 0.22015120089054108,\n        z: -0.47027793526649475,\n        visibility: 0.9994387030601501\n      },\n      {\n        x: 0.4394040107727051,\n        y: 0.22195373475551605,\n        z: -0.4700052738189697,\n        visibility: 0.9995213150978088\n      },\n      {\n        x: 0.43116337060928345,\n        y: 0.2243419587612152,\n        z: -0.470341295003891,\n        visibility: 0.99945467710495\n      },\n      {\n        x: 0.48799848556518555,\n        y: 0.234122171998024,\n        z: -0.2720431089401245,\n        visibility: 0.9992684125900269\n      },\n      {\n        x: 0.41320282220840454,\n        y: 0.24181169271469116,\n        z: -0.29295986890792847,\n        visibility: 0.999842643737793\n      },\n      {\n        x: 0.47269296646118164,\n        y: 0.2967630922794342,\n        z: -0.4161527752876282,\n        visibility: 0.9997654557228088\n      },\n      {\n        x: 0.44561561942100525,\n        y: 0.3008449673652649,\n        z: -0.42262348532676697,\n        visibility: 0.9998815059661865\n      },\n      {\n        x: 0.5589459538459778,\n        y: 0.41804954409599304,\n        z: -0.1719721257686615,\n        visibility: 0.9996596574783325\n      },\n      {\n        x: 0.3488500416278839,\n        y: 0.4033713936805725,\n        z: -0.14429470896720886,\n        visibility: 0.9998044371604919\n      },\n      {\n        x: 0.6930917501449585,\n        y: 0.39522722363471985,\n        z: -0.4544585645198822,\n        visibility: 0.9993317127227783\n      },\n      {\n        x: 0.22219088673591614,\n        y: 0.4955701529979706,\n        z: 0.00001218858960783109,\n        visibility: 0.9963186979293823\n      },\n      {\n        x: 0.6232098937034607,\n        y: 0.18083661794662476,\n        z: -0.780025064945221,\n        visibility: 0.9929986000061035\n      },\n      {\n        x: 0.19150760769844055,\n        y: 0.6717732548713684,\n        z: 0.12280353158712387,\n        visibility: 0.893798291683197\n      },\n      {\n        x: 0.6072403192520142,\n        y: 0.11776020377874374,\n        z: -0.8377763628959656,\n        visibility: 0.9483855366706848\n      },\n      {\n        x: 0.17813269793987274,\n        y: 0.7508640885353088,\n        z: 0.1446959674358368,\n        visibility: 0.6718651652336121\n      },\n      {\n        x: 0.5935682058334351,\n        y: 0.12533049285411835,\n        z: -0.7812116146087646,\n        visibility: 0.9399989247322083\n      },\n      {\n        x: 0.20952436327934265,\n        y: 0.7496163249015808,\n        z: 0.12465538084506989,\n        visibility: 0.6882723569869995\n      },\n      {\n        x: 0.5930678844451904,\n        y: 0.1520557552576065,\n        z: -0.7677294015884399,\n        visibility: 0.9437131285667419\n      },\n      {\n        x: 0.21664831042289734,\n        y: 0.7292011976242065,\n        z: 0.11933311074972153,\n        visibility: 0.7381110787391663\n      },\n      {\n        x: 0.5241089463233948,\n        y: 0.9376053810119629,\n        z: -0.0076195308938622475,\n        visibility: 0.9413126707077026\n      },\n      {\n        x: 0.38004377484321594,\n        y: 0.9453445672988892,\n        z: 0.008800030685961246,\n        visibility: 0.9436790943145752\n      },\n      {\n        x: 0.5136677622795105,\n        y: 1.3543270826339722,\n        z: 0.05276615545153618,\n        visibility: 0.03460494428873062\n      },\n      {\n        x: 0.3723337948322296,\n        y: 1.33583664894104,\n        z: 0.017478590831160545,\n        visibility: 0.02406769059598446\n      },\n      {\n        x: 0.5052579045295715,\n        y: 1.6971789598464966,\n        z: 0.4053013324737549,\n        visibility: 0.002709777560085058\n      },\n      {\n        x: 0.36661356687545776,\n        y: 1.693466067314148,\n        z: 0.25367552042007446,\n        visibility: 0.003355363616719842\n      },\n      {\n        x: 0.5065775513648987,\n        y: 1.736876368522644,\n        z: 0.43149369955062866,\n        visibility: 0.004892885684967041\n      },\n      {\n        x: 0.3656581938266754,\n        y: 1.742147445678711,\n        z: 0.26939937472343445,\n        visibility: 0.005873065907508135\n      },\n      {\n        x: 0.4810219705104828,\n        y: 1.8389865159988403,\n        z: 0.19475920498371124,\n        visibility: 0.003040559124201536\n      },\n      {\n        x: 0.38042503595352173,\n        y: 1.8191075325012207,\n        z: -0.002833582926541567,\n        visibility: 0.0035825520753860474\n      }\n    ],\n\t'pose3' : [\n\t  {\n\t\tx: 0.5342230796813965,\n\t\ty: 0.33599960803985596,\n\t\tz: -0.654468834400177,\n\t\tvisibility: 0.999730110168457\n\t  },\n\t  {\n\t\tx: 0.5427960157394409,\n\t\ty: 0.3069542348384857,\n\t\tz: -0.636650562286377,\n\t\tvisibility: 0.9992057085037231\n\t  },\n\t  {\n\t\tx: 0.5485810041427612,\n\t\ty: 0.30699148774147034,\n\t\tz: -0.636650562286377,\n\t\tvisibility: 0.9992172718048096\n\t  },\n\t  {\n\t\tx: 0.5537177324295044,\n\t\ty: 0.306660920381546,\n\t\tz: -0.6371728181838989,\n\t\tvisibility: 0.9992062449455261\n\t  },\n\t  {\n\t\tx: 0.5248194932937622,\n\t\ty: 0.30123820900917053,\n\t\tz: -0.6434749364852905,\n\t\tvisibility: 0.9994204044342041\n\t  },\n\t  {\n\t\tx: 0.5173107385635376,\n\t\ty: 0.29804351925849915,\n\t\tz: -0.6434252858161926,\n\t\tvisibility: 0.9994584918022156\n\t  },\n\t  {\n\t\tx: 0.5102332234382629,\n\t\ty: 0.29591673612594604,\n\t\tz: -0.643607497215271,\n\t\tvisibility: 0.9994571805000305\n\t  },\n\t  {\n\t\tx: 0.5590377449989319,\n\t\ty: 0.3056187033653259,\n\t\tz: -0.4489477276802063,\n\t\tvisibility: 0.9995939135551453\n\t  },\n\t  {\n\t\tx: 0.49327802658081055,\n\t\ty: 0.2936670184135437,\n\t\tz: -0.4808090329170227,\n\t\tvisibility: 0.9996442198753357\n\t  },\n\t  {\n\t\tx: 0.5404239296913147,\n\t\ty: 0.36448174715042114,\n\t\tz: -0.5749280452728271,\n\t\tvisibility: 0.9997342824935913\n\t  },\n\t  {\n\t\tx: 0.5202029943466187,\n\t\ty: 0.3637203574180603,\n\t\tz: -0.5837363004684448,\n\t\tvisibility: 0.9997596740722656\n\t  },\n\t  {\n\t\tx: 0.611244797706604,\n\t\ty: 0.4216402769088745,\n\t\tz: -0.2935345768928528,\n\t\tvisibility: 0.9998950362205505\n\t  },\n\t  {\n\t\tx: 0.4273284375667572,\n\t\ty: 0.4099974036216736,\n\t\tz: -0.28157949447631836,\n\t\tvisibility: 0.9994688630104065\n\t  },\n\t  {\n\t\tx: 0.7231762409210205,\n\t\ty: 0.4493004381656647,\n\t\tz: -0.17749162018299103,\n\t\tvisibility: 0.9986400604248047\n\t  },\n\t  {\n\t\tx: 0.302611380815506,\n\t\ty: 0.4441039562225342,\n\t\tz: -0.1984785497188568,\n\t\tvisibility: 0.9972154498100281\n\t  },\n\t  {\n\t\tx: 0.7312692403793335,\n\t\ty: 0.6261634826660156,\n\t\tz: -0.2717038094997406,\n\t\tvisibility: 0.9747750163078308\n\t  },\n\t  {\n\t\tx: 0.30064553022384644,\n\t\ty: 0.6307604908943176,\n\t\tz: -0.2721528112888336,\n\t\tvisibility: 0.9442089200019836\n\t  },\n\t  {\n\t\tx: 0.7406763434410095,\n\t\ty: 0.6849515438079834,\n\t\tz: -0.2984251081943512,\n\t\tvisibility: 0.9009081125259399\n\t  },\n\t  {\n\t\tx: 0.2895743250846863,\n\t\ty: 0.6751351952552795,\n\t\tz: -0.28467315435409546,\n\t\tvisibility: 0.8294651508331299\n\t  },\n\t  {\n\t\tx: 0.7243756055831909,\n\t\ty: 0.6863147020339966,\n\t\tz: -0.32706424593925476,\n\t\tvisibility: 0.9158464670181274\n\t  },\n\t  {\n\t\tx: 0.305781751871109,\n\t\ty: 0.6813561916351318,\n\t\tz: -0.3193134665489197,\n\t\tvisibility: 0.8454192876815796\n\t  },\n\t  {\n\t\tx: 0.7173725366592407,\n\t\ty: 0.6727286577224731,\n\t\tz: -0.28243064880371094,\n\t\tvisibility: 0.9095520973205566\n\t  },\n\t  {\n\t\tx: 0.3142789900302887,\n\t\ty: 0.6716931462287903,\n\t\tz: -0.2845315933227539,\n\t\tvisibility: 0.8314840793609619\n\t  },\n\t  {\n\t\tx: 0.563874363899231,\n\t\ty: 0.8117520809173584,\n\t\tz: -0.003989198245108128,\n\t\tvisibility: 0.946025013923645\n\t  },\n\t  {\n\t\tx: 0.456551730632782,\n\t\ty: 0.801945149898529,\n\t\tz: 0.004327082075178623,\n\t\tvisibility: 0.9271252155303955\n\t  },\n\t  {\n\t\tx: 0.5824207067489624,\n\t\ty: 1.0053271055221558,\n\t\tz: -0.4588206708431244,\n\t\tvisibility: 0.6140478253364563\n\t  },\n\t  {\n\t\tx: 0.4313832223415375,\n\t\ty: 0.971913754940033,\n\t\tz: -0.3922275900840759,\n\t\tvisibility: 0.6471026539802551\n\t  },\n\t  {\n\t\tx: 0.5359678864479065,\n\t\ty: 1.2219411134719849,\n\t\tz: 0.0013886927627027035,\n\t\tvisibility: 0.08791808038949966\n\t  },\n\t  {\n\t\tx: 0.4470784068107605,\n\t\ty: 1.220618724822998,\n\t\tz: -0.0016968402778729796,\n\t\tvisibility: 0.08580730855464935\n\t  },\n\t  {\n\t\tx: 0.5278223156929016,\n\t\ty: 1.2367515563964844,\n\t\tz: 0.04353273659944534,\n\t\tvisibility: 0.15419256687164307\n\t  },\n\t  {\n\t\tx: 0.45258545875549316,\n\t\ty: 1.2385481595993042,\n\t\tz: 0.03405578061938286,\n\t\tvisibility: 0.12561297416687012\n\t  },\n\t  {\n\t\tx: 0.5233412981033325,\n\t\ty: 1.3233402967453003,\n\t\tz: -0.09712623804807663,\n\t\tvisibility: 0.058126408606767654\n\t  },\n\t  {\n\t\tx: 0.45187512040138245,\n\t\ty: 1.3305495977401733,\n\t\tz: -0.12137804180383682,\n\t\tvisibility: 0.04474840313196182\n\t  }\n\t],\n\t'pose4' : [\n\t  {\n\t\tx: 0.5367740392684937,\n\t\ty: 0.3617490530014038,\n\t\tz: -0.4721905291080475,\n\t\tvisibility: 0.9967241883277893\n\t  },\n\t  {\n\t\tx: 0.5444647073745728,\n\t\ty: 0.32789337635040283,\n\t\tz: -0.46814149618148804,\n\t\tvisibility: 0.9947782158851624\n\t  },\n\t  {\n\t\tx: 0.5506033301353455,\n\t\ty: 0.32781288027763367,\n\t\tz: -0.468142032623291,\n\t\tvisibility: 0.9959192872047424\n\t  },\n\t  {\n\t\tx: 0.5564927458763123,\n\t\ty: 0.3276345133781433,\n\t\tz: -0.46823278069496155,\n\t\tvisibility: 0.9947683811187744\n\t  },\n\t  {\n\t\tx: 0.5268990397453308,\n\t\ty: 0.32547080516815186,\n\t\tz: -0.4681508541107178,\n\t\tvisibility: 0.9943686723709106\n\t  },\n\t  {\n\t\tx: 0.5198222994804382,\n\t\ty: 0.3242223262786865,\n\t\tz: -0.46839913725852966,\n\t\tvisibility: 0.9951443076133728\n\t  },\n\t  {\n\t\tx: 0.5126904249191284,\n\t\ty: 0.3233507573604584,\n\t\tz: -0.4686674177646637,\n\t\tvisibility: 0.9946110248565674\n\t  },\n\t  {\n\t\tx: 0.5591005682945251,\n\t\ty: 0.33254581689834595,\n\t\tz: -0.33985596895217896,\n\t\tvisibility: 0.9960433840751648\n\t  },\n\t  {\n\t\tx: 0.49411773681640625,\n\t\ty: 0.3268229067325592,\n\t\tz: -0.34463509917259216,\n\t\tvisibility: 0.9979915618896484\n\t  },\n\t  {\n\t\tx: 0.5428563952445984,\n\t\ty: 0.3965960741043091,\n\t\tz: -0.41454243659973145,\n\t\tvisibility: 0.9982234239578247\n\t  },\n\t  {\n\t\tx: 0.5232977271080017,\n\t\ty: 0.394994854927063,\n\t\tz: -0.41631418466567993,\n\t\tvisibility: 0.9991125464439392\n\t  },\n\t  {\n\t\tx: 0.6056397557258606,\n\t\ty: 0.49260804057121277,\n\t\tz: -0.2542616128921509,\n\t\tvisibility: 0.9981552362442017\n\t  },\n\t  {\n\t\tx: 0.42995697259902954,\n\t\ty: 0.44834446907043457,\n\t\tz: -0.16276219487190247,\n\t\tvisibility: 0.9996233582496643\n\t  },\n\t  {\n\t\tx: 0.6057609915733337,\n\t\ty: 0.740130603313446,\n\t\tz: -0.36225154995918274,\n\t\tvisibility: 0.9802526235580444\n\t  },\n\t  {\n\t\tx: 0.31899839639663696,\n\t\ty: 0.5418304800987244,\n\t\tz: -0.07727774232625961,\n\t\tvisibility: 0.9868682026863098\n\t  },\n\t  {\n\t\tx: 0.5054944753646851,\n\t\ty: 0.5636418461799622,\n\t\tz: -0.5472399592399597,\n\t\tvisibility: 0.9718139171600342\n\t  },\n\t  {\n\t\tx: 0.19839657843112946,\n\t\ty: 0.5789961218833923,\n\t\tz: -0.1354442983865738,\n\t\tvisibility: 0.9276448488235474\n\t  },\n\t  {\n\t\tx: 0.4813663363456726,\n\t\ty: 0.5203453898429871,\n\t\tz: -0.5819234251976013,\n\t\tvisibility: 0.926182746887207\n\t  },\n\t  {\n\t\tx: 0.1629939079284668,\n\t\ty: 0.5706686973571777,\n\t\tz: -0.13633279502391815,\n\t\tvisibility: 0.8271444439888\n\t  },\n\t  {\n\t\tx: 0.48986029624938965,\n\t\ty: 0.49888941645622253,\n\t\tz: -0.5514585375785828,\n\t\tvisibility: 0.9256020188331604\n\t  },\n\t  {\n\t\tx: 0.16145512461662292,\n\t\ty: 0.5753418207168579,\n\t\tz: -0.18424895405769348,\n\t\tvisibility: 0.8541716933250427\n\t  },\n\t  {\n\t\tx: 0.4940408170223236,\n\t\ty: 0.5140327215194702,\n\t\tz: -0.5365909934043884,\n\t\tvisibility: 0.9138705134391785\n\t  },\n\t  {\n\t\tx: 0.17395423352718353,\n\t\ty: 0.5869116187095642,\n\t\tz: -0.15917061269283295,\n\t\tvisibility: 0.88396817445755\n\t  },\n\t  {\n\t\tx: 0.5637794733047485,\n\t\ty: 0.8767541646957397,\n\t\tz: 0.010800665244460106,\n\t\tvisibility: 0.879327654838562\n\t  },\n\t  {\n\t\tx: 0.4466494023799896,\n\t\ty: 0.8721670508384705,\n\t\tz: -0.010173510760068893,\n\t\tvisibility: 0.9241297841072083\n\t  },\n\t  {\n\t\tx: 0.5599483847618103,\n\t\ty: 1.190863847732544,\n\t\tz: -0.08820055425167084,\n\t\tvisibility: 0.7386557459831238\n\t  },\n\t  {\n\t\tx: 0.4537898600101471,\n\t\ty: 1.1677253246307373,\n\t\tz: -0.18285755813121796,\n\t\tvisibility: 0.5608063340187073\n\t  },\n\t  {\n\t\tx: 0.5665308237075806,\n\t\ty: 1.4692158699035645,\n\t\tz: 0.15340451896190643,\n\t\tvisibility: 0.0913878083229065\n\t  },\n\t  {\n\t\tx: 0.43255501985549927,\n\t\ty: 1.4737296104431152,\n\t\tz: -0.032019805163145065,\n\t\tvisibility: 0.1518068015575409\n\t  },\n\t  {\n\t\tx: 0.5672134160995483,\n\t\ty: 1.5106397867202759,\n\t\tz: 0.17213258147239685,\n\t\tvisibility: 0.11895862221717834\n\t  },\n\t  {\n\t\tx: 0.4265785217285156,\n\t\ty: 1.5218955278396606,\n\t\tz: -0.022123102098703384,\n\t\tvisibility: 0.10980157554149628\n\t  },\n\t  {\n\t\tx: 0.5518546104431152,\n\t\ty: 1.5764440298080444,\n\t\tz: 0.03324834257364273,\n\t\tvisibility: 0.037278272211551666\n\t  },\n\t  {\n\t\tx: 0.43930014967918396,\n\t\ty: 1.5697695016860962,\n\t\tz: -0.21786098182201385,\n\t\tvisibility: 0.06552483141422272\n\t  }\n\t]\n}\n\nif (keypointsBuffer.length < bufferlength) {\n    msg.payload = {\n        inputKeypoints : [],\n        savedKeypoints : savedKeypoints\n    } \n} else {\n   msg.payload = {\n        inputKeypoints : keypointsBuffer,\n        savedKeypoints : savedKeypoints\n    } \n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":840,"wires":[["ace60178b33a4393"]]},{"id":"ba91da76cad90d5b","type":"debug","z":"746135943667d1dd","name":"Similarity Output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1010,"y":840,"wires":[]},{"id":"db4625eb2d293198","type":"pose-similarity-register","z":"746135943667d1dd","name":"","x":650,"y":640,"wires":[["66d1760d758ed1b8"]],"icon":"font-awesome/fa-registered"},{"id":"1756a9335017ef3d","type":"function","z":"746135943667d1dd","name":"Pose Register Function","func":"let input = JSON.parse(msg.payload)\n\n\nlet savedKeypoints = {\n    'pose1' : [\n\t  {\n\t\tx: 0.5127502083778381,\n\t\ty: 0.3484715521335602,\n\t\tz: -0.7645496129989624,\n\t\tvisibility: 0.9999882578849792\n\t  },\n\t  {\n\t\tx: 0.5202495455741882,\n\t\ty: 0.31528159976005554,\n\t\tz: -0.7405415177345276,\n\t\tvisibility: 0.9999582171440125\n\t  },\n\t  {\n\t\tx: 0.5262174606323242,\n\t\ty: 0.31519225239753723,\n\t\tz: -0.7399324178695679,\n\t\tvisibility: 0.999970018863678\n\t  },\n\t  {\n\t\tx: 0.5317984223365784,\n\t\ty: 0.31509530544281006,\n\t\tz: -0.7399235963821411,\n\t\tvisibility: 0.999954879283905\n\t  },\n\t  {\n\t\tx: 0.5008791089057922,\n\t\ty: 0.3131275475025177,\n\t\tz: -0.745046854019165,\n\t\tvisibility: 0.9999710917472839\n\t  },\n\t  {\n\t\tx: 0.49268656969070435,\n\t\ty: 0.3119525611400604,\n\t\tz: -0.7452746629714966,\n\t\tvisibility: 0.9999830722808838\n\t  },\n\t  {\n\t\tx: 0.48553356528282166,\n\t\ty: 0.311267226934433,\n\t\tz: -0.7452396154403687,\n\t\tvisibility: 0.9999799728393555\n\t  },\n\t  {\n\t\tx: 0.5342467427253723,\n\t\ty: 0.3207939565181732,\n\t\tz: -0.549290657043457,\n\t\tvisibility: 0.9999823570251465\n\t  },\n\t  {\n\t\tx: 0.46610522270202637,\n\t\ty: 0.3142077624797821,\n\t\tz: -0.5688360333442688,\n\t\tvisibility: 0.9999947547912598\n\t  },\n\t  {\n\t\tx: 0.5210683345794678,\n\t\ty: 0.3786444067955017,\n\t\tz: -0.6873353123664856,\n\t\tvisibility: 0.999986469745636\n\t  },\n\t  {\n\t\tx: 0.4987563490867615,\n\t\ty: 0.3797175884246826,\n\t\tz: -0.6930750608444214,\n\t\tvisibility: 0.9999930262565613\n\t  },\n\t  {\n\t\tx: 0.5884202122688293,\n\t\ty: 0.448921799659729,\n\t\tz: -0.41984662413597107,\n\t\tvisibility: 0.9999550580978394\n\t  },\n\t  {\n\t\tx: 0.4008875787258148,\n\t\ty: 0.4507942199707031,\n\t\tz: -0.44456052780151367,\n\t\tvisibility: 0.9999707341194153\n\t  },\n\t  {\n\t\tx: 0.716405987739563,\n\t\ty: 0.4351431131362915,\n\t\tz: -0.7025100588798523,\n\t\tvisibility: 0.9996529221534729\n\t  },\n\t  {\n\t\tx: 0.2856208086013794,\n\t\ty: 0.4635056257247925,\n\t\tz: -0.713823676109314,\n\t\tvisibility: 0.999833881855011\n\t  },\n\t  {\n\t\tx: 0.6634426712989807,\n\t\ty: 0.2122822254896164,\n\t\tz: -0.9674248695373535,\n\t\tvisibility: 0.9992005228996277\n\t  },\n\t  {\n\t\tx: 0.3293188810348511,\n\t\ty: 0.2405264526605606,\n\t\tz: -0.9710879325866699,\n\t\tvisibility: 0.9997350573539734\n\t  },\n\t  {\n\t\tx: 0.654142439365387,\n\t\ty: 0.15791954100131989,\n\t\tz: -1.0288525819778442,\n\t\tvisibility: 0.9936606287956238\n\t  },\n\t  {\n\t\tx: 0.3323003947734833,\n\t\ty: 0.18732352554798126,\n\t\tz: -1.0427982807159424,\n\t\tvisibility: 0.9977527856826782\n\t  },\n\t  {\n\t\tx: 0.6400797963142395,\n\t\ty: 0.15546956658363342,\n\t\tz: -0.9806702733039856,\n\t\tvisibility: 0.9922082424163818\n\t  },\n\t  {\n\t\tx: 0.3467172086238861,\n\t\ty: 0.18484613299369812,\n\t\tz: -0.9884087443351746,\n\t\tvisibility: 0.9972468614578247\n\t  },\n\t  {\n\t\tx: 0.640140175819397,\n\t\ty: 0.17466388642787933,\n\t\tz: -0.9584549069404602,\n\t\tvisibility: 0.9924517273902893\n\t  },\n\t  {\n\t\tx: 0.3514927625656128,\n\t\ty: 0.20337918400764465,\n\t\tz: -0.9620863199234009,\n\t\tvisibility: 0.9968199729919434\n\t  },\n\t  {\n\t\tx: 0.562447726726532,\n\t\ty: 0.8698843121528625,\n\t\tz: 0.011500516906380653,\n\t\tvisibility: 0.931684672832489\n\t  },\n\t  {\n\t\tx: 0.4433068633079529,\n\t\ty: 0.8794788122177124,\n\t\tz: -0.010724632069468498,\n\t\tvisibility: 0.9469003677368164\n\t  },\n\t  {\n\t\tx: 0.5622636079788208,\n\t\ty: 1.2220916748046875,\n\t\tz: -0.12553247809410095,\n\t\tvisibility: 0.302400141954422\n\t  },\n\t  {\n\t\tx: 0.44542115926742554,\n\t\ty: 1.2083072662353516,\n\t\tz: -0.07870990037918091,\n\t\tvisibility: 0.2046704888343811\n\t  },\n\t  {\n\t\tx: 0.5611519813537598,\n\t\ty: 1.5011649131774902,\n\t\tz: 0.2194506824016571,\n\t\tvisibility: 0.009829629212617874\n\t  },\n\t  {\n\t\tx: 0.439523845911026,\n\t\ty: 1.511884093284607,\n\t\tz: 0.1352260410785675,\n\t\tvisibility: 0.02123948000371456\n\t  },\n\t  {\n\t\tx: 0.5606144666671753,\n\t\ty: 1.5377485752105713,\n\t\tz: 0.2448822259902954,\n\t\tvisibility: 0.022145025432109833\n\t  },\n\t  {\n\t\tx: 0.43802985548973083,\n\t\ty: 1.558651089668274,\n\t\tz: 0.14886151254177094,\n\t\tvisibility: 0.026273280382156372\n\t  },\n\t  {\n\t\tx: 0.5436438918113708,\n\t\ty: 1.630968689918518,\n\t\tz: 0.03643977642059326,\n\t\tvisibility: 0.004938286263495684\n\t  },\n\t  {\n\t\tx: 0.45374059677124023,\n\t\ty: 1.6227662563323975,\n\t\tz: -0.08538103103637695,\n\t\tvisibility: 0.014241080731153488\n\t  }\n\t],\n    'pose2' : [\n      {\n        x: 0.46045589447021484,\n        y: 0.25528860092163086,\n        z: -0.49055832624435425,\n        visibility: 0.9996473789215088\n      },\n      {\n        x: 0.4703933596611023,\n        y: 0.21590179204940796,\n        z: -0.4654623568058014,\n        visibility: 0.9990987777709961\n      },\n      {\n        x: 0.47650232911109924,\n        y: 0.21528631448745728,\n        z: -0.4651026725769043,\n        visibility: 0.9992490410804749\n      },\n      {\n        x: 0.4831027090549469,\n        y: 0.21519289910793304,\n        z: -0.4651106894016266,\n        visibility: 0.9990409016609192\n      },\n      {\n        x: 0.44801706075668335,\n        y: 0.22015120089054108,\n        z: -0.47027793526649475,\n        visibility: 0.9994387030601501\n      },\n      {\n        x: 0.4394040107727051,\n        y: 0.22195373475551605,\n        z: -0.4700052738189697,\n        visibility: 0.9995213150978088\n      },\n      {\n        x: 0.43116337060928345,\n        y: 0.2243419587612152,\n        z: -0.470341295003891,\n        visibility: 0.99945467710495\n      },\n      {\n        x: 0.48799848556518555,\n        y: 0.234122171998024,\n        z: -0.2720431089401245,\n        visibility: 0.9992684125900269\n      },\n      {\n        x: 0.41320282220840454,\n        y: 0.24181169271469116,\n        z: -0.29295986890792847,\n        visibility: 0.999842643737793\n      },\n      {\n        x: 0.47269296646118164,\n        y: 0.2967630922794342,\n        z: -0.4161527752876282,\n        visibility: 0.9997654557228088\n      },\n      {\n        x: 0.44561561942100525,\n        y: 0.3008449673652649,\n        z: -0.42262348532676697,\n        visibility: 0.9998815059661865\n      },\n      {\n        x: 0.5589459538459778,\n        y: 0.41804954409599304,\n        z: -0.1719721257686615,\n        visibility: 0.9996596574783325\n      },\n      {\n        x: 0.3488500416278839,\n        y: 0.4033713936805725,\n        z: -0.14429470896720886,\n        visibility: 0.9998044371604919\n      },\n      {\n        x: 0.6930917501449585,\n        y: 0.39522722363471985,\n        z: -0.4544585645198822,\n        visibility: 0.9993317127227783\n      },\n      {\n        x: 0.22219088673591614,\n        y: 0.4955701529979706,\n        z: 0.00001218858960783109,\n        visibility: 0.9963186979293823\n      },\n      {\n        x: 0.6232098937034607,\n        y: 0.18083661794662476,\n        z: -0.780025064945221,\n        visibility: 0.9929986000061035\n      },\n      {\n        x: 0.19150760769844055,\n        y: 0.6717732548713684,\n        z: 0.12280353158712387,\n        visibility: 0.893798291683197\n      },\n      {\n        x: 0.6072403192520142,\n        y: 0.11776020377874374,\n        z: -0.8377763628959656,\n        visibility: 0.9483855366706848\n      },\n      {\n        x: 0.17813269793987274,\n        y: 0.7508640885353088,\n        z: 0.1446959674358368,\n        visibility: 0.6718651652336121\n      },\n      {\n        x: 0.5935682058334351,\n        y: 0.12533049285411835,\n        z: -0.7812116146087646,\n        visibility: 0.9399989247322083\n      },\n      {\n        x: 0.20952436327934265,\n        y: 0.7496163249015808,\n        z: 0.12465538084506989,\n        visibility: 0.6882723569869995\n      },\n      {\n        x: 0.5930678844451904,\n        y: 0.1520557552576065,\n        z: -0.7677294015884399,\n        visibility: 0.9437131285667419\n      },\n      {\n        x: 0.21664831042289734,\n        y: 0.7292011976242065,\n        z: 0.11933311074972153,\n        visibility: 0.7381110787391663\n      },\n      {\n        x: 0.5241089463233948,\n        y: 0.9376053810119629,\n        z: -0.0076195308938622475,\n        visibility: 0.9413126707077026\n      },\n      {\n        x: 0.38004377484321594,\n        y: 0.9453445672988892,\n        z: 0.008800030685961246,\n        visibility: 0.9436790943145752\n      },\n      {\n        x: 0.5136677622795105,\n        y: 1.3543270826339722,\n        z: 0.05276615545153618,\n        visibility: 0.03460494428873062\n      },\n      {\n        x: 0.3723337948322296,\n        y: 1.33583664894104,\n        z: 0.017478590831160545,\n        visibility: 0.02406769059598446\n      },\n      {\n        x: 0.5052579045295715,\n        y: 1.6971789598464966,\n        z: 0.4053013324737549,\n        visibility: 0.002709777560085058\n      },\n      {\n        x: 0.36661356687545776,\n        y: 1.693466067314148,\n        z: 0.25367552042007446,\n        visibility: 0.003355363616719842\n      },\n      {\n        x: 0.5065775513648987,\n        y: 1.736876368522644,\n        z: 0.43149369955062866,\n        visibility: 0.004892885684967041\n      },\n      {\n        x: 0.3656581938266754,\n        y: 1.742147445678711,\n        z: 0.26939937472343445,\n        visibility: 0.005873065907508135\n      },\n      {\n        x: 0.4810219705104828,\n        y: 1.8389865159988403,\n        z: 0.19475920498371124,\n        visibility: 0.003040559124201536\n      },\n      {\n        x: 0.38042503595352173,\n        y: 1.8191075325012207,\n        z: -0.002833582926541567,\n        visibility: 0.0035825520753860474\n      }\n    ],\n\t'pose3' : [\n\t  {\n\t\tx: 0.5342230796813965,\n\t\ty: 0.33599960803985596,\n\t\tz: -0.654468834400177,\n\t\tvisibility: 0.999730110168457\n\t  },\n\t  {\n\t\tx: 0.5427960157394409,\n\t\ty: 0.3069542348384857,\n\t\tz: -0.636650562286377,\n\t\tvisibility: 0.9992057085037231\n\t  },\n\t  {\n\t\tx: 0.5485810041427612,\n\t\ty: 0.30699148774147034,\n\t\tz: -0.636650562286377,\n\t\tvisibility: 0.9992172718048096\n\t  },\n\t  {\n\t\tx: 0.5537177324295044,\n\t\ty: 0.306660920381546,\n\t\tz: -0.6371728181838989,\n\t\tvisibility: 0.9992062449455261\n\t  },\n\t  {\n\t\tx: 0.5248194932937622,\n\t\ty: 0.30123820900917053,\n\t\tz: -0.6434749364852905,\n\t\tvisibility: 0.9994204044342041\n\t  },\n\t  {\n\t\tx: 0.5173107385635376,\n\t\ty: 0.29804351925849915,\n\t\tz: -0.6434252858161926,\n\t\tvisibility: 0.9994584918022156\n\t  },\n\t  {\n\t\tx: 0.5102332234382629,\n\t\ty: 0.29591673612594604,\n\t\tz: -0.643607497215271,\n\t\tvisibility: 0.9994571805000305\n\t  },\n\t  {\n\t\tx: 0.5590377449989319,\n\t\ty: 0.3056187033653259,\n\t\tz: -0.4489477276802063,\n\t\tvisibility: 0.9995939135551453\n\t  },\n\t  {\n\t\tx: 0.49327802658081055,\n\t\ty: 0.2936670184135437,\n\t\tz: -0.4808090329170227,\n\t\tvisibility: 0.9996442198753357\n\t  },\n\t  {\n\t\tx: 0.5404239296913147,\n\t\ty: 0.36448174715042114,\n\t\tz: -0.5749280452728271,\n\t\tvisibility: 0.9997342824935913\n\t  },\n\t  {\n\t\tx: 0.5202029943466187,\n\t\ty: 0.3637203574180603,\n\t\tz: -0.5837363004684448,\n\t\tvisibility: 0.9997596740722656\n\t  },\n\t  {\n\t\tx: 0.611244797706604,\n\t\ty: 0.4216402769088745,\n\t\tz: -0.2935345768928528,\n\t\tvisibility: 0.9998950362205505\n\t  },\n\t  {\n\t\tx: 0.4273284375667572,\n\t\ty: 0.4099974036216736,\n\t\tz: -0.28157949447631836,\n\t\tvisibility: 0.9994688630104065\n\t  },\n\t  {\n\t\tx: 0.7231762409210205,\n\t\ty: 0.4493004381656647,\n\t\tz: -0.17749162018299103,\n\t\tvisibility: 0.9986400604248047\n\t  },\n\t  {\n\t\tx: 0.302611380815506,\n\t\ty: 0.4441039562225342,\n\t\tz: -0.1984785497188568,\n\t\tvisibility: 0.9972154498100281\n\t  },\n\t  {\n\t\tx: 0.7312692403793335,\n\t\ty: 0.6261634826660156,\n\t\tz: -0.2717038094997406,\n\t\tvisibility: 0.9747750163078308\n\t  },\n\t  {\n\t\tx: 0.30064553022384644,\n\t\ty: 0.6307604908943176,\n\t\tz: -0.2721528112888336,\n\t\tvisibility: 0.9442089200019836\n\t  },\n\t  {\n\t\tx: 0.7406763434410095,\n\t\ty: 0.6849515438079834,\n\t\tz: -0.2984251081943512,\n\t\tvisibility: 0.9009081125259399\n\t  },\n\t  {\n\t\tx: 0.2895743250846863,\n\t\ty: 0.6751351952552795,\n\t\tz: -0.28467315435409546,\n\t\tvisibility: 0.8294651508331299\n\t  },\n\t  {\n\t\tx: 0.7243756055831909,\n\t\ty: 0.6863147020339966,\n\t\tz: -0.32706424593925476,\n\t\tvisibility: 0.9158464670181274\n\t  },\n\t  {\n\t\tx: 0.305781751871109,\n\t\ty: 0.6813561916351318,\n\t\tz: -0.3193134665489197,\n\t\tvisibility: 0.8454192876815796\n\t  },\n\t  {\n\t\tx: 0.7173725366592407,\n\t\ty: 0.6727286577224731,\n\t\tz: -0.28243064880371094,\n\t\tvisibility: 0.9095520973205566\n\t  },\n\t  {\n\t\tx: 0.3142789900302887,\n\t\ty: 0.6716931462287903,\n\t\tz: -0.2845315933227539,\n\t\tvisibility: 0.8314840793609619\n\t  },\n\t  {\n\t\tx: 0.563874363899231,\n\t\ty: 0.8117520809173584,\n\t\tz: -0.003989198245108128,\n\t\tvisibility: 0.946025013923645\n\t  },\n\t  {\n\t\tx: 0.456551730632782,\n\t\ty: 0.801945149898529,\n\t\tz: 0.004327082075178623,\n\t\tvisibility: 0.9271252155303955\n\t  },\n\t  {\n\t\tx: 0.5824207067489624,\n\t\ty: 1.0053271055221558,\n\t\tz: -0.4588206708431244,\n\t\tvisibility: 0.6140478253364563\n\t  },\n\t  {\n\t\tx: 0.4313832223415375,\n\t\ty: 0.971913754940033,\n\t\tz: -0.3922275900840759,\n\t\tvisibility: 0.6471026539802551\n\t  },\n\t  {\n\t\tx: 0.5359678864479065,\n\t\ty: 1.2219411134719849,\n\t\tz: 0.0013886927627027035,\n\t\tvisibility: 0.08791808038949966\n\t  },\n\t  {\n\t\tx: 0.4470784068107605,\n\t\ty: 1.220618724822998,\n\t\tz: -0.0016968402778729796,\n\t\tvisibility: 0.08580730855464935\n\t  },\n\t  {\n\t\tx: 0.5278223156929016,\n\t\ty: 1.2367515563964844,\n\t\tz: 0.04353273659944534,\n\t\tvisibility: 0.15419256687164307\n\t  },\n\t  {\n\t\tx: 0.45258545875549316,\n\t\ty: 1.2385481595993042,\n\t\tz: 0.03405578061938286,\n\t\tvisibility: 0.12561297416687012\n\t  },\n\t  {\n\t\tx: 0.5233412981033325,\n\t\ty: 1.3233402967453003,\n\t\tz: -0.09712623804807663,\n\t\tvisibility: 0.058126408606767654\n\t  },\n\t  {\n\t\tx: 0.45187512040138245,\n\t\ty: 1.3305495977401733,\n\t\tz: -0.12137804180383682,\n\t\tvisibility: 0.04474840313196182\n\t  }\n\t],\n\t'pose4' : [\n\t  {\n\t\tx: 0.5367740392684937,\n\t\ty: 0.3617490530014038,\n\t\tz: -0.4721905291080475,\n\t\tvisibility: 0.9967241883277893\n\t  },\n\t  {\n\t\tx: 0.5444647073745728,\n\t\ty: 0.32789337635040283,\n\t\tz: -0.46814149618148804,\n\t\tvisibility: 0.9947782158851624\n\t  },\n\t  {\n\t\tx: 0.5506033301353455,\n\t\ty: 0.32781288027763367,\n\t\tz: -0.468142032623291,\n\t\tvisibility: 0.9959192872047424\n\t  },\n\t  {\n\t\tx: 0.5564927458763123,\n\t\ty: 0.3276345133781433,\n\t\tz: -0.46823278069496155,\n\t\tvisibility: 0.9947683811187744\n\t  },\n\t  {\n\t\tx: 0.5268990397453308,\n\t\ty: 0.32547080516815186,\n\t\tz: -0.4681508541107178,\n\t\tvisibility: 0.9943686723709106\n\t  },\n\t  {\n\t\tx: 0.5198222994804382,\n\t\ty: 0.3242223262786865,\n\t\tz: -0.46839913725852966,\n\t\tvisibility: 0.9951443076133728\n\t  },\n\t  {\n\t\tx: 0.5126904249191284,\n\t\ty: 0.3233507573604584,\n\t\tz: -0.4686674177646637,\n\t\tvisibility: 0.9946110248565674\n\t  },\n\t  {\n\t\tx: 0.5591005682945251,\n\t\ty: 0.33254581689834595,\n\t\tz: -0.33985596895217896,\n\t\tvisibility: 0.9960433840751648\n\t  },\n\t  {\n\t\tx: 0.49411773681640625,\n\t\ty: 0.3268229067325592,\n\t\tz: -0.34463509917259216,\n\t\tvisibility: 0.9979915618896484\n\t  },\n\t  {\n\t\tx: 0.5428563952445984,\n\t\ty: 0.3965960741043091,\n\t\tz: -0.41454243659973145,\n\t\tvisibility: 0.9982234239578247\n\t  },\n\t  {\n\t\tx: 0.5232977271080017,\n\t\ty: 0.394994854927063,\n\t\tz: -0.41631418466567993,\n\t\tvisibility: 0.9991125464439392\n\t  },\n\t  {\n\t\tx: 0.6056397557258606,\n\t\ty: 0.49260804057121277,\n\t\tz: -0.2542616128921509,\n\t\tvisibility: 0.9981552362442017\n\t  },\n\t  {\n\t\tx: 0.42995697259902954,\n\t\ty: 0.44834446907043457,\n\t\tz: -0.16276219487190247,\n\t\tvisibility: 0.9996233582496643\n\t  },\n\t  {\n\t\tx: 0.6057609915733337,\n\t\ty: 0.740130603313446,\n\t\tz: -0.36225154995918274,\n\t\tvisibility: 0.9802526235580444\n\t  },\n\t  {\n\t\tx: 0.31899839639663696,\n\t\ty: 0.5418304800987244,\n\t\tz: -0.07727774232625961,\n\t\tvisibility: 0.9868682026863098\n\t  },\n\t  {\n\t\tx: 0.5054944753646851,\n\t\ty: 0.5636418461799622,\n\t\tz: -0.5472399592399597,\n\t\tvisibility: 0.9718139171600342\n\t  },\n\t  {\n\t\tx: 0.19839657843112946,\n\t\ty: 0.5789961218833923,\n\t\tz: -0.1354442983865738,\n\t\tvisibility: 0.9276448488235474\n\t  },\n\t  {\n\t\tx: 0.4813663363456726,\n\t\ty: 0.5203453898429871,\n\t\tz: -0.5819234251976013,\n\t\tvisibility: 0.926182746887207\n\t  },\n\t  {\n\t\tx: 0.1629939079284668,\n\t\ty: 0.5706686973571777,\n\t\tz: -0.13633279502391815,\n\t\tvisibility: 0.8271444439888\n\t  },\n\t  {\n\t\tx: 0.48986029624938965,\n\t\ty: 0.49888941645622253,\n\t\tz: -0.5514585375785828,\n\t\tvisibility: 0.9256020188331604\n\t  },\n\t  {\n\t\tx: 0.16145512461662292,\n\t\ty: 0.5753418207168579,\n\t\tz: -0.18424895405769348,\n\t\tvisibility: 0.8541716933250427\n\t  },\n\t  {\n\t\tx: 0.4940408170223236,\n\t\ty: 0.5140327215194702,\n\t\tz: -0.5365909934043884,\n\t\tvisibility: 0.9138705134391785\n\t  },\n\t  {\n\t\tx: 0.17395423352718353,\n\t\ty: 0.5869116187095642,\n\t\tz: -0.15917061269283295,\n\t\tvisibility: 0.88396817445755\n\t  },\n\t  {\n\t\tx: 0.5637794733047485,\n\t\ty: 0.8767541646957397,\n\t\tz: 0.010800665244460106,\n\t\tvisibility: 0.879327654838562\n\t  },\n\t  {\n\t\tx: 0.4466494023799896,\n\t\ty: 0.8721670508384705,\n\t\tz: -0.010173510760068893,\n\t\tvisibility: 0.9241297841072083\n\t  },\n\t  {\n\t\tx: 0.5599483847618103,\n\t\ty: 1.190863847732544,\n\t\tz: -0.08820055425167084,\n\t\tvisibility: 0.7386557459831238\n\t  },\n\t  {\n\t\tx: 0.4537898600101471,\n\t\ty: 1.1677253246307373,\n\t\tz: -0.18285755813121796,\n\t\tvisibility: 0.5608063340187073\n\t  },\n\t  {\n\t\tx: 0.5665308237075806,\n\t\ty: 1.4692158699035645,\n\t\tz: 0.15340451896190643,\n\t\tvisibility: 0.0913878083229065\n\t  },\n\t  {\n\t\tx: 0.43255501985549927,\n\t\ty: 1.4737296104431152,\n\t\tz: -0.032019805163145065,\n\t\tvisibility: 0.1518068015575409\n\t  },\n\t  {\n\t\tx: 0.5672134160995483,\n\t\ty: 1.5106397867202759,\n\t\tz: 0.17213258147239685,\n\t\tvisibility: 0.11895862221717834\n\t  },\n\t  {\n\t\tx: 0.4265785217285156,\n\t\ty: 1.5218955278396606,\n\t\tz: -0.022123102098703384,\n\t\tvisibility: 0.10980157554149628\n\t  },\n\t  {\n\t\tx: 0.5518546104431152,\n\t\ty: 1.5764440298080444,\n\t\tz: 0.03324834257364273,\n\t\tvisibility: 0.037278272211551666\n\t  },\n\t  {\n\t\tx: 0.43930014967918396,\n\t\ty: 1.5697695016860962,\n\t\tz: -0.21786098182201385,\n\t\tvisibility: 0.06552483141422272\n\t  }\n\t]\n}\n\nmsg.payload = {\n    inputKeypoint : input,\n    savedKeypoints : savedKeypoints\n    \n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":640,"wires":[["db4625eb2d293198"]]},{"id":"66d1760d758ed1b8","type":"debug","z":"746135943667d1dd","name":"Register Output","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":930,"y":640,"wires":[]},{"id":"cbb3ed4bd6a5d495","type":"function","z":"746135943667d1dd","name":"","func":"if (msg.payload.result != null) {\n    console.log(msg.payload.result)\n    flow.set('keypointsBuffer', [])\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":810,"y":840,"wires":[["ba91da76cad90d5b"]]},{"id":"ea8ee4dc068edfa4","type":"change","z":"746135943667d1dd","name":"Initialize","rules":[{"t":"delete","p":"payload","pt":"flow"},{"t":"delete","p":"registeredPoses","pt":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":100,"wires":[["f70ba4247e29f497"]]},{"id":"3ade825af80a2e47","type":"function","z":"746135943667d1dd","name":"Array Setting","func":"flow.set(\"registeredPoses\", msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\nglobal.payload = [];","finalize":"","libs":[],"x":790,"y":200,"wires":[["70106cacea538531"]]},{"id":"70106cacea538531","type":"debug","z":"746135943667d1dd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":950,"y":200,"wires":[]},{"id":"f70ba4247e29f497","type":"mongodb in","z":"746135943667d1dd","mongodb":"8f0a01753ee0af88","name":"","collection":"pose","operation":"find","x":550,"y":100,"wires":[["04727764f43037e7"]]},{"id":"04727764f43037e7","type":"json","z":"746135943667d1dd","name":"","property":"payload","action":"obj","pretty":false,"x":730,"y":140,"wires":[["3ade825af80a2e47"]]},{"id":"e9b870a1bbf9569d","type":"websocket-listener","path":"/ws/data","wholemsg":"false"},{"id":"8f0a01753ee0af88","type":"mongodb","hostname":"127.0.0.1","topology":"direct","connectOptions":"","port":"27017","db":"admin","name":""}]