hands-detection-flow.json
[
    {
        "id": "35670bd56bd78e34",
        "type": "tab",
        "label": "Hands Detection Flow",
        "disabled": false,
        "info": ""
    },
    {
        "id": "590d2bce6782aebe",
        "type": "http in",
        "z": "35670bd56bd78e34",
        "name": "",
        "url": "/handsdetection",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 40,
        "wires": [
            [
                "9e39f187a67f3ad3"
            ]
        ]
    },
    {
        "id": "9e39f187a67f3ad3",
        "type": "hands-detection",
        "z": "35670bd56bd78e34",
        "name": "",
        "order": 0,
        "width": 6,
        "height": 6,
        "x": 320,
        "y": 40,
        "wires": [
            [
                "b43b95c2e7814f4e"
            ]
        ]
    },
    {
        "id": "b43b95c2e7814f4e",
        "type": "http response",
        "z": "35670bd56bd78e34",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 510,
        "y": 40,
        "wires": []
    },
    {
        "id": "9b0757f43e03c5e4",
        "type": "websocket in",
        "z": "35670bd56bd78e34",
        "name": "",
        "server": "f53c1081569394ed",
        "client": "",
        "x": 120,
        "y": 100,
        "wires": [
            [
                "e28ad70d3866d5b4"
            ]
        ]
    },
    {
        "id": "7aef98ab4db85bed",
        "type": "debug",
        "z": "35670bd56bd78e34",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 200,
        "wires": []
    },
    {
        "id": "e28ad70d3866d5b4",
        "type": "function",
        "z": "35670bd56bd78e34",
        "name": "",
        "func": "msg.payload = JSON.parse(msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 100,
        "wires": [
            [
                "f6055ae35184f41d"
            ]
        ]
    },
    {
        "id": "f6055ae35184f41d",
        "type": "switch",
        "z": "35670bd56bd78e34",
        "name": "",
        "property": "payload.regist",
        "propertyType": "msg",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 310,
        "y": 180,
        "wires": [
            [
                "c24b6328c170e0fe"
            ],
            [
                "7aef98ab4db85bed",
                "d6a23f417d41c3b8"
            ]
        ]
    },
    {
        "id": "c24b6328c170e0fe",
        "type": "debug",
        "z": "35670bd56bd78e34",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 140,
        "wires": []
    },
    {
        "id": "d6a23f417d41c3b8",
        "type": "mongodb out",
        "z": "35670bd56bd78e34",
        "mongodb": "bb993aede0f92e99",
        "name": "",
        "collection": "hands",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "insert",
        "x": 550,
        "y": 240,
        "wires": []
    },
    {
        "id": "f53c1081569394ed",
        "type": "websocket-listener",
        "path": "/ws/handsdetection",
        "wholemsg": "false"
    },
    {
        "id": "bb993aede0f92e99",
        "type": "mongodb",
        "hostname": "127.0.0.1",
        "topology": "direct",
        "connectOptions": "",
        "port": "27017",
        "db": "admin",
        "name": ""
    }
]