mediapipe/FLOW.json
[
  {
      "id": "8f8a4c41bf218d1d",
      "type": "tab",
      "label": "플로우 1",
      "disabled": false,
      "info": ""
  },
  {
      "id": "12c96704d893c47b",
      "type": "http in",
      "z": "8f8a4c41bf218d1d",
      "name": "",
      "url": "/mediapipe",
      "method": "get",
      "upload": false,
      "swaggerDoc": "",
      "x": 140,
      "y": 200,
      "wires": [
          [
              "80d76f62168fdd36"
          ]
      ]
  },
  {
      "id": "05b4dcc90a8ead31",
      "type": "http response",
      "z": "8f8a4c41bf218d1d",
      "name": "",
      "statusCode": "200",
      "headers": {},
      "x": 570,
      "y": 200,
      "wires": []
  },
  {
      "id": "46fb27634f33eec7",
      "type": "websocket in",
      "z": "8f8a4c41bf218d1d",
      "name": "",
      "server": "e9b870a1bbf9569d",
      "client": "",
      "x": 150,
      "y": 300,
      "wires": [
          [
              "1b94381b7c62d3b8"
          ]
      ]
  },
  {
      "id": "0263c5845ac6b2f9",
      "type": "debug",
      "z": "8f8a4c41bf218d1d",
      "name": "",
      "active": true,
      "tosidebar": true,
      "console": false,
      "tostatus": false,
      "complete": "payload",
      "targetType": "msg",
      "statusVal": "",
      "statusType": "auto",
      "x": 580,
      "y": 300,
      "wires": []
  },
  {
      "id": "1b94381b7c62d3b8",
      "type": "function",
      "z": "8f8a4c41bf218d1d",
      "name": "",
      "func": "msg.payload = JSON.parse(msg.payload)\n\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "libs": [],
      "x": 380,
      "y": 300,
      "wires": [
          [
              "0263c5845ac6b2f9"
          ]
      ]
  },
  {
      "id": "80d76f62168fdd36",
      "type": "mediapipe",
      "z": "8f8a4c41bf218d1d",
      "name": "",
      "group": "443f475e636526c5",
      "order": 0,
      "width": 6,
      "height": 6,
      "x": 370,
      "y": 200,
      "wires": [
          [
              "05b4dcc90a8ead31"
          ]
      ]
  },
  {
      "id": "e9b870a1bbf9569d",
      "type": "websocket-listener",
      "path": "/ws/mediapipe",
      "wholemsg": "false"
  },
  {
      "id": "443f475e636526c5",
      "type": "ui_group",
      "name": "Group 1",
      "tab": "35d54912bc0948f2",
      "order": 1,
      "disp": true,
      "width": 6
  },
  {
      "id": "35d54912bc0948f2",
      "type": "ui_tab",
      "name": "Tab 1",
      "icon": "dashboard",
      "order": 1
  }
]