detection-hogeun/FLOW.json
[
    {
        "id": "66eb90dda6328873",
        "type": "tab",
        "label": "플로우 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ba7c1ea1b5bf8284",
        "type": "http in",
        "z": "66eb90dda6328873",
        "name": "",
        "url": "/mediapipe",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 80,
        "wires": [
            [
                "09f012d6f421cb4d"
            ]
        ]
    },
    {
        "id": "6daf959e6656c7ee",
        "type": "websocket in",
        "z": "66eb90dda6328873",
        "name": "",
        "server": "e9b870a1bbf9569d",
        "client": "",
        "x": 130,
        "y": 160,
        "wires": [
            [
                "fb106b2c8e95f2fd",
                "9547f433f1b38d1c",
                "f300abd3759d4f92"
            ]
        ]
    },
    {
        "id": "506b759457d6c13c",
        "type": "websocket out",
        "z": "66eb90dda6328873",
        "name": "",
        "server": "f4f5807f5af74172",
        "client": "",
        "x": 610,
        "y": 220,
        "wires": []
    },
    {
        "id": "eeb18f6cddb7ce89",
        "type": "debug",
        "z": "66eb90dda6328873",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 160,
        "wires": []
    },
    {
        "id": "fb106b2c8e95f2fd",
        "type": "function",
        "z": "66eb90dda6328873",
        "name": "",
        "func": "msg.payload = JSON.parse(msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 160,
        "wires": [
            [
                "eeb18f6cddb7ce89"
            ]
        ]
    },
    {
        "id": "091e530fd3f2bc20",
        "type": "http in",
        "z": "66eb90dda6328873",
        "name": "",
        "url": "/monitor",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 500,
        "wires": [
            [
                "cdcacefb7d2fa089"
            ]
        ]
    },
    {
        "id": "8e3a5c51aa43b1b8",
        "type": "http response",
        "z": "66eb90dda6328873",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 490,
        "y": 500,
        "wires": []
    },
    {
        "id": "a5fc38587b75fbea",
        "type": "socket-server",
        "z": "66eb90dda6328873",
        "name": "",
        "order": 0,
        "width": 6,
        "height": 6,
        "port": 1881,
        "x": 140,
        "y": 420,
        "wires": []
    },
    {
        "id": "e9f13fb08d6799a0",
        "type": "http response",
        "z": "66eb90dda6328873",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 510,
        "y": 80,
        "wires": []
    },
    {
        "id": "09f012d6f421cb4d",
        "type": "mediapipe",
        "z": "66eb90dda6328873",
        "name": "",
        "order": 0,
        "width": 6,
        "height": 6,
        "isMirror": 1,
        "mirrorPort": 1881,
        "x": 330,
        "y": 80,
        "wires": [
            [
                "e9f13fb08d6799a0"
            ]
        ]
    },
    {
        "id": "9547f433f1b38d1c",
        "type": "mediapipe",
        "z": "66eb90dda6328873",
        "name": "classification (TBD)",
        "order": 0,
        "width": 6,
        "height": 6,
        "isMirror": 1,
        "mirrorPort": 1881,
        "x": 360,
        "y": 220,
        "wires": [
            [
                "506b759457d6c13c"
            ]
        ]
    },
    {
        "id": "cdcacefb7d2fa089",
        "type": "monitor",
        "z": "66eb90dda6328873",
        "name": "",
        "order": 0,
        "width": 6,
        "height": 6,
        "mirrorPort": 1881,
        "x": 320,
        "y": 500,
        "wires": [
            [
                "8e3a5c51aa43b1b8"
            ]
        ]
    },
    {
        "id": "2504454f47f37419",
        "type": "debug",
        "z": "66eb90dda6328873",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 280,
        "wires": []
    },
    {
        "id": "05fbeab3534d221c",
        "type": "switch",
        "z": "66eb90dda6328873",
        "name": "",
        "property": "payload.regist",
        "propertyType": "msg",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 470,
        "y": 280,
        "wires": [
            [
                "2504454f47f37419"
            ],
            [
                "3936493a5e64943e"
            ]
        ]
    },
    {
        "id": "f300abd3759d4f92",
        "type": "json",
        "z": "66eb90dda6328873",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 310,
        "y": 280,
        "wires": [
            [
                "05fbeab3534d221c"
            ]
        ]
    },
    {
        "id": "3936493a5e64943e",
        "type": "debug",
        "z": "66eb90dda6328873",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 340,
        "wires": []
    },
    {
        "id": "e9b870a1bbf9569d",
        "type": "websocket-listener",
        "path": "/ws/data",
        "wholemsg": "false"
    },
    {
        "id": "f4f5807f5af74172",
        "type": "websocket-listener",
        "path": "/ws/classification",
        "wholemsg": "false"
    }
]