templates/pricingNoticication.json
[
  {
    "id": "11711e32d3b10a45",
    "type": "tab",
    "label": "가격 설정 알림",
    "disabled": false,
    "info": ""
  },
  {
    "id": "81b26dcb258d19a4",
    "type": "inject",
    "z": "11711e32d3b10a45",
    "name": "Tick every 24 hours",
    "props": [
      {
        "p": "topic",
        "v": "{\"hooks\":\"https://hooks.slack.com/services/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\",\"text\":\"재고 보충 기간입니다. <http://127.0.0.1:1880/naver|Click here> \\\":eyes:\\\"\"}",
        "vt": "json"
      }
    ],
    "repeat": "3600",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "topic": "",
    "x": 140,
    "y": 360,
    "wires": [["9a1a1f26ed861eca"]]
  },
  {
    "id": "211c1d08b557b584",
    "type": "http in",
    "z": "11711e32d3b10a45",
    "name": "",
    "url": "/search",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 270,
    "y": 200,
    "wires": [["6ce4bd959b1cb1e1"]]
  },
  {
    "id": "6ce4bd959b1cb1e1",
    "type": "template",
    "z": "11711e32d3b10a45",
    "name": "shopping search",
    "field": "payload",
    "fieldType": "msg",
    "format": "html",
    "syntax": "mustache",
    "template": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta http-equiv=\"Content-Type\" content=\"text/html; charset=UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"ie=edge\">\n    <title>SASM Reports</title>\n    <link rel=\"stylesheet\" href=\"https://unpkg.com/bulma@0.9.0/css/bulma.min.css\"/>\n    <script type=\"text/javascript\">\n        var ws;\n        var wsUri = \"ws:\";\n        var loc = window.location;\n        console.log(loc);\n        if (loc.protocol === \"https:\") { wsUri = \"wss:\"; }\n        wsUri += \"//\" + loc.host + loc.pathname.replace(\"search\",\"ws/search\");\n\n        function wsConnect() {\n            console.log(\"connect\",wsUri);\n            ws = new WebSocket(wsUri);\n            ws.onmessage = function(msg) {\n                var html = document.getElementById('contents').innerHTML;\n                console.log(msg.data);\n                var obj = JSON.parse(msg.data);\n                var items = obj.items;\n\n                html += `<div class=\"columns\">`;\n                for(var idx in items) {\n                    html += `\n                    <div class=\"card column is-3 mx-2 my-2\">\n                        <div class=\"card-image\">\n                            <figure class=\"image is-4by3\">\n                            <img src=\"` + items[idx].image + `\" alt=\"Placeholder image\">\n                            </figure>\n                        </div>\n                        <div class=\"card-content\">\n                            <div class=\"media\">\n                                <div class=\"media-content\">\n                                    <p class=\"title is-4\">` + items[idx].productName + `</p>\n                                    <p class=\"subtitle is-6\"> Mall ` + items[idx].mall + `</p>\n                                </div>\n                            </div>\n                        \n                            <div class=\"content\">\n                            ₩ ` + items[idx].price + `\n                            </div>\n                            <a class=\"button is-link\" href=\"` + items[idx].link + `\" target=\"_blank\">Click Here</a>\n                        </div>\n                    </div>\n                    `;\n                    if(idx % 4 == 3) html += `</div><div class=\"columns\">`;\n                }\n                html += `</div>`;\n                document.getElementById('contents').innerHTML = html;\n            }\n            ws.onopen = function() {\n                document.getElementById('status').innerHTML = \"(Connected)\";\n                console.log(\"connected\");\n                if(ws){ws.send(\"start\");}\n            }\n            ws.onclose = function() {\n                document.getElementById('status').innerHTML = \"(Not Connected)\";\n                setTimeout(wsConnect,3000);\n            }\n        }\n    </script>\n</head>\n<body onload=\"wsConnect();\" onunload=\"ws.disconnect();\">\n<!-- Navigation bar -->\n<nav class=\"navbar is-fixed-top m-4 is-link\">\n\n    <div id=\"navbarExampleTransparentExample\" class=\"navbar-menu\">\n        <div class=\"navbar-end\">\n            <a class=\"navbar-item\" href=\"https://sasm.developer.samsung.com/get-free-trial\">\n                <span class=\"icon\">\n                <i class=\"fas fa-info\"></i>\n                </span>\n            <h3 class=\"title is-3 has-text-white\">SASM</h3>\n            </a>\n            <a class=\"navbar-item\" href=\"https://sasm.developer.samsung.com/\">\n                <span class=\"icon\">\n                <i class=\"fas fa-bars\"></i>\n                </span>\n            <h3 class=\"title is-3 has-text-white\">SASM Developers</h3>\n            </a>\n        </div>\n    </div>\n</nav>\n<!-- Header -->\n<section class=\"hero is-fullheight is-fullheight-with-navbar bg-pan-left\">\n    <div class=\"hero-body\">\n        <div class=\"container\">\n            <h1 class=\"title is-1 is-inline-block\">SASM Naver Shopping Node</h1>\n            <h1 id=\"status\" class=\"subtitle is-4 is-inline-block has-text-grey-light\">(Connected)</h1>\n            <h2 class=\"subtitle is-3\">Search Results</h2>\n            <div id=\"contents\" class=\"mt-4\"></div>\n        </div>\n    </div>\n</section>\n</body>\n</html>",
    "output": "str",
    "x": 490,
    "y": 200,
    "wires": [["4959c60f3a83c88d"]]
  },
  {
    "id": "4959c60f3a83c88d",
    "type": "http response",
    "z": "11711e32d3b10a45",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 670,
    "y": 200,
    "wires": []
  },
  {
    "id": "6dd97aae764cbb09",
    "type": "shopping-filter",
    "z": "11711e32d3b10a45",
    "name": "Naver - 100000원 이하만",
    "apiType": "naver",
    "format": "json",
    "sorttype": "asc",
    "minprice": "",
    "maxprice": "100000",
    "x": 750,
    "y": 300,
    "wires": [["a6758a3e4e18ea34"]]
  },
  {
    "id": "338333f1d88d74c2",
    "type": "websocket in",
    "z": "11711e32d3b10a45",
    "name": "",
    "server": "6954b4976d1112a9",
    "client": "",
    "x": 120,
    "y": 520,
    "wires": [["5be4fbdf4d0d5bc4", "4d52e7d5b616711f"]]
  },
  {
    "id": "bff7d14e05543bcc",
    "type": "websocket out",
    "z": "11711e32d3b10a45",
    "name": "",
    "server": "6954b4976d1112a9",
    "client": "",
    "x": 1340,
    "y": 300,
    "wires": []
  },
  {
    "id": "a6758a3e4e18ea34",
    "type": "shopping-formatter",
    "z": "11711e32d3b10a45",
    "name": "",
    "apiType": "naver",
    "x": 970,
    "y": 300,
    "wires": [["9616637fa2badc49"]]
  },
  {
    "id": "bbf1e1a79e1393ea",
    "type": "shopping-filter",
    "z": "11711e32d3b10a45",
    "name": "11st - 100000원 이하만",
    "apiType": "11st",
    "format": "json",
    "sorttype": "asc",
    "minprice": "",
    "maxprice": "100000",
    "x": 740,
    "y": 420,
    "wires": [["56dbfdcba9a3ecae"]]
  },
  {
    "id": "56dbfdcba9a3ecae",
    "type": "shopping-formatter",
    "z": "11711e32d3b10a45",
    "name": "",
    "apiType": "11st",
    "x": 970,
    "y": 420,
    "wires": [["9616637fa2badc49"]]
  },
  {
    "id": "c5861fca355e667c",
    "type": "shopping",
    "z": "11711e32d3b10a45",
    "name": "Naver-Search-JSON",
    "apiType": "naverShopping",
    "naverShoppingReturnType": "json",
    "naverShoppingQuery": "{{payload}}",
    "naverShoppingDisplay": "10",
    "naverShoppingSort": "sim",
    "naverShoppingStart": "1",
    "naverShoppingFilter": "",
    "naverShoppingCreds": "aba3c0c925d0e5f2",
    "sk11stApiCode": "",
    "sk11stKeyword": "",
    "sk11stCategoryCode": "",
    "sk11stProductCode": "",
    "sk11stPagenum": "1",
    "sk11stPagesize": "50",
    "sk11stSortcd": "",
    "sk11stOption": "",
    "sk11stTargetSearchPrd": "",
    "sk11stCreds": "",
    "x": 500,
    "y": 300,
    "wires": [["6dd97aae764cbb09"]]
  },
  {
    "id": "db5dccb17ab09a9e",
    "type": "shopping",
    "z": "11711e32d3b10a45",
    "name": "11st-Search",
    "apiType": "sk11st",
    "naverShoppingReturnType": "json",
    "naverShoppingQuery": "{{payload}}",
    "naverShoppingDisplay": "10",
    "naverShoppingSort": "sim",
    "naverShoppingStart": "1",
    "naverShoppingFilter": "",
    "naverShoppingCreds": "",
    "sk11stApiCode": "ProductSearch",
    "sk11stKeyword": "{{payload}}",
    "sk11stCategoryCode": "",
    "sk11stProductCode": "",
    "sk11stPagenum": "1",
    "sk11stPagesize": "50",
    "sk11stSortcd": "",
    "sk11stOption": "",
    "sk11stTargetSearchPrd": "",
    "sk11stCreds": "09d8dbb7a479fa2b",
    "x": 470,
    "y": 420,
    "wires": [["bbf1e1a79e1393ea"]]
  },
  {
    "id": "9a1a1f26ed861eca",
    "type": "template",
    "z": "11711e32d3b10a45",
    "name": "검색어",
    "field": "payload",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "삼다수 1.5L",
    "output": "str",
    "x": 310,
    "y": 360,
    "wires": [["c5861fca355e667c", "db5dccb17ab09a9e"]]
  },
  {
    "id": "f0ab61de3639638c",
    "type": "slack-notification",
    "z": "11711e32d3b10a45",
    "name": "",
    "notificationtype": "slack",
    "datatype": "msg",
    "datavalue": "data",
    "x": 1330,
    "y": 420,
    "wires": []
  },
  {
    "id": "9616637fa2badc49",
    "type": "switch",
    "z": "11711e32d3b10a45",
    "name": "",
    "property": "payload.items.length",
    "propertyType": "msg",
    "rules": [
      {
        "t": "gt",
        "v": "0",
        "vt": "str"
      },
      {
        "t": "gt",
        "v": "0",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 1170,
    "y": 360,
    "wires": [["bff7d14e05543bcc"], ["f0ab61de3639638c"]]
  },
  {
    "id": "f33e5df8afd3ec9d",
    "type": "shopping",
    "z": "11711e32d3b10a45",
    "name": "Naver-Search-JSON",
    "apiType": "naverShopping",
    "naverShoppingReturnType": "json",
    "naverShoppingQuery": "{{payload}}",
    "naverShoppingDisplay": "10",
    "naverShoppingSort": "sim",
    "naverShoppingStart": "1",
    "naverShoppingFilter": "",
    "naverShoppingCreds": "aba3c0c925d0e5f2",
    "sk11stApiCode": "",
    "sk11stKeyword": "",
    "sk11stCategoryCode": "",
    "sk11stProductCode": "",
    "sk11stPagenum": "1",
    "sk11stPagesize": "50",
    "sk11stSortcd": "",
    "sk11stOption": "",
    "sk11stTargetSearchPrd": "",
    "sk11stCreds": "",
    "x": 520,
    "y": 520,
    "wires": [["bd8f2fd0e10f1f5a"]]
  },
  {
    "id": "bd8f2fd0e10f1f5a",
    "type": "shopping-filter",
    "z": "11711e32d3b10a45",
    "name": "Naver - 100000원 이하만",
    "apiType": "naver",
    "format": "json",
    "sorttype": "asc",
    "minprice": "",
    "maxprice": "10000",
    "x": 750,
    "y": 520,
    "wires": [["dbf3269dfca83b05"]]
  },
  {
    "id": "dbf3269dfca83b05",
    "type": "shopping-formatter",
    "z": "11711e32d3b10a45",
    "name": "",
    "apiType": "naver",
    "x": 970,
    "y": 520,
    "wires": [["654d30e1f4c10b2e"]]
  },
  {
    "id": "5be4fbdf4d0d5bc4",
    "type": "template",
    "z": "11711e32d3b10a45",
    "name": "검색어",
    "field": "payload",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "삼다수 1.5L",
    "output": "str",
    "x": 310,
    "y": 520,
    "wires": [["f33e5df8afd3ec9d"]]
  },
  {
    "id": "654d30e1f4c10b2e",
    "type": "websocket out",
    "z": "11711e32d3b10a45",
    "name": "",
    "server": "6954b4976d1112a9",
    "client": "",
    "x": 1200,
    "y": 580,
    "wires": []
  },
  {
    "id": "4d52e7d5b616711f",
    "type": "debug",
    "z": "11711e32d3b10a45",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 270,
    "y": 660,
    "wires": []
  },
  {
    "id": "6954b4976d1112a9",
    "type": "websocket-listener",
    "path": "/ws/search",
    "wholemsg": "false"
  },
  {
    "id": "aba3c0c925d0e5f2",
    "type": "naverShoppingApiKey",
    "name": "Naver Shopping API Key"
  },
  {
    "id": "09d8dbb7a479fa2b",
    "type": "sk11stApiKey",
    "name": "sk11st API Key"
  }
]
