templates/pricetracker.json
[{"id":"e5c86674bd5984e5","type":"tab","label":"가격 변동(DB+웹페이지)","disabled":false,"info":""},{"id":"bd90a7c8cd6a6911","type":"db-config","z":"e5c86674bd5984e5","name":"sasm","dbType":"mysql","dbIp":"localhost","dbPort":"3306","dbName":"sasm","proxyRequired":false,"proxy":"","x":130,"y":60,"wires":[],"icon":"/assets/icons/db.png"},{"id":"38a37ad7296df4d1","type":"inject","z":"e5c86674bd5984e5","name":"Table Initialize","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payloadType":"date","x":370,"y":60,"wires":[["3ba60113dd04cbc8"]],"icon":"/assets/icons/timer.png"},{"id":"f8bd9d8541c3b183","type":"http in","z":"e5c86674bd5984e5","name":"","url":"/items","method":"post","upload":false,"swaggerDoc":"","x":110,"y":500,"wires":[["355b023654da763c"]],"icon":"/assets/icons/white-globe.png"},{"id":"355b023654da763c","type":"function","z":"e5c86674bd5984e5","name":"params","func":"function guid() {\n    function s4() {\n      return ((1 + Math.random()) * 0x10000 | 0).toString(16).substring(1);\n    }\n    return s4() + s4() + '-' + s4() + '-' + s4() + '-' + s4() + '-' + s4() + s4() + s4();\n}\n\nfunction strip_tags (str) {\n    return str.replace(/(<([^>]+)>)/ig,\"\");\n}\n\n\n// msg.id = guid();\nmsg.productName = strip_tags(msg.req.body.productName)\nmsg.mall = decodeURI(msg.req.body.mall);\nmsg.link =decodeURI(msg.req.body.link);\nmsg.price = msg.req.body.price;\nmsg.image = decodeURI(msg.req.body.image);\n// msg.checked = \"false\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":500,"wires":[["80332e4440f08063"]],"icon":"/assets/icons/js.png"},{"id":"80332e4440f08063","type":"db-query","z":"e5c86674bd5984e5","config":"bd90a7c8cd6a6911","name":"createItem","sql":"insert into items\n(productName, image, mall, created, updated)\nvalues \n('{{{productName}}}','{{{image}}}','{{{mall}}}',now(), now())\n","x":650,"y":500,"wires":[["a0b4568cf35b987d"]],"icon":"/assets/icons/db.png"},{"id":"95fc35ca6a0b0d79","type":"db-query","z":"e5c86674bd5984e5","config":"bd90a7c8cd6a6911","name":"selectById","sql":"select * \nfrom items\nwhere productName = '{{{productName}}}'","x":610,"y":540,"wires":[["df9719f3b38c52d1"]],"icon":"/assets/icons/db.png"},{"id":"df9719f3b38c52d1","type":"function","z":"e5c86674bd5984e5","name":"single value","func":"msg.payload = msg.payload[0];\n// console.log(msg.payload)\n// console.log(decodeURI(msg.payload.image))\n// console.log(unescape(msg.payload.image))\n// console.log(msg.payload.image.replace('&#x2F;', '&'))\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":770,"y":540,"wires":[["304f63a4385a9183"]],"icon":"/assets/icons/js.png"},{"id":"304f63a4385a9183","type":"http response","z":"e5c86674bd5984e5","name":"201","statusCode":"201","headers":{},"x":989,"y":539.5,"wires":[],"icon":"/assets/icons/white-globe.png"},{"id":"c9e4b7b7fd527af0","type":"inject","z":"e5c86674bd5984e5","name":"Table Delete","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payloadType":"date","x":370,"y":100,"wires":[["796787cf3d0ee7da"]],"icon":"/assets/icons/timer.png"},{"id":"796787cf3d0ee7da","type":"db-query","z":"e5c86674bd5984e5","config":"bd90a7c8cd6a6911","name":"Delete Table","sql":"DROP TABLE IF EXISTS keywords, prices, items;\n","x":530,"y":100,"wires":[[]],"icon":"/assets/icons/db.png"},{"id":"954a0972bbd4a585","type":"http in","z":"e5c86674bd5984e5","name":"","url":"/items","method":"get","upload":false,"swaggerDoc":"","x":100,"y":380,"wires":[["a2bad70d23840cb5"]],"icon":"/assets/icons/white-globe.png"},{"id":"a2bad70d23840cb5","type":"function","z":"e5c86674bd5984e5","name":"params","func":"return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":380,"wires":[["59dc463b93389ab1"]],"icon":"/assets/icons/js.png"},{"id":"59dc463b93389ab1","type":"db-query","z":"e5c86674bd5984e5","config":"bd90a7c8cd6a6911","name":"select","sql":"select * \nfrom items","x":630,"y":380,"wires":[["0a6b5f48ea586ab9"]],"icon":"/assets/icons/db.png"},{"id":"0a6b5f48ea586ab9","type":"function","z":"e5c86674bd5984e5","name":"sorting","func":"function mySort(a, b) { \n    if(a.created == b.created){ \n        return 0;\n    } \n    return a.created < b.created ? 1 : -1; \n}\nmsg.payload.sort(mySort);\nmsg.items = JSON.stringify(msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":750,"y":380,"wires":[["8ff5a2f672f7d741"]],"icon":"/assets/icons/js.png"},{"id":"6b446d616f2daf39","type":"http response","z":"e5c86674bd5984e5","name":"200","statusCode":"200","headers":{},"x":990,"y":380,"wires":[],"icon":"/assets/icons/white-globe.png"},{"id":"3ba60113dd04cbc8","type":"db-query","z":"e5c86674bd5984e5","config":"bd90a7c8cd6a6911","name":"Create Table items","sql":"-- select * from {{TableName}}\ncreate table items\n(\n    id integer primary key AUTO_INCREMENT,\n    productName varchar(100),\n    image varchar(1000),\n    mall varchar(100),\n    link varchar(1000),\n    created datetime,\n    updated datetime,\n    UNIQUE(productName)\n);","x":550,"y":60,"wires":[["92eb584c8c840cf9"]]},{"id":"80d9339deb813097","type":"switch","z":"e5c86674bd5984e5","name":"is empty","property":"payload.length","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":620,"y":460,"wires":[["54fff9c6d99d8e4b"],["4bd9c8fc40692a91"]],"icon":"/assets/icons/switch.png"},{"id":"4bd9c8fc40692a91","type":"http response","z":"e5c86674bd5984e5","name":"404","statusCode":"404","headers":{},"x":990,"y":460,"wires":[],"icon":"/assets/icons/white-globe.png"},{"id":"945ab43632d71536","type":"http in","z":"e5c86674bd5984e5","name":"","url":"/items/delete/:id","method":"get","upload":false,"swaggerDoc":"","x":130,"y":580,"wires":[["f3d7e5739c992b3a"]],"icon":"/assets/icons/white-globe.png"},{"id":"f3d7e5739c992b3a","type":"switch","z":"e5c86674bd5984e5","name":"params req","property":"req.params.id","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":580,"wires":[["c6a71ed364eb5a25"],["18d50ff23028de76"]],"icon":"/assets/icons/switch.png"},{"id":"c6a71ed364eb5a25","type":"function","z":"e5c86674bd5984e5","name":"params","func":"msg.id = msg.req.params.id;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":580,"wires":[["3b649f484bf4daed"]],"icon":"/assets/icons/js.png"},{"id":"3b649f484bf4daed","type":"db-query","z":"e5c86674bd5984e5","config":"bd90a7c8cd6a6911","name":"deletePrices","sql":"delete  \nfrom prices\nwhere itemId='{{id}}'","x":650,"y":580,"wires":[["6d39bd4c8a9040ae"]],"icon":"/assets/icons/db.png"},{"id":"18d50ff23028de76","type":"function","z":"e5c86674bd5984e5","name":"payload","func":"msg.payload = {code:400, message:\"Invalid path parameter.\"}\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":620,"wires":[["a1727d1827349d12"]],"icon":"/assets/icons/js.png"},{"id":"c13283e1ad0b3d5b","type":"http response","z":"e5c86674bd5984e5","name":"204","statusCode":"204","headers":{},"x":990,"y":580,"wires":[],"icon":"/assets/icons/white-globe.png"},{"id":"a1727d1827349d12","type":"http response","z":"e5c86674bd5984e5","name":"400","statusCode":"400","headers":{},"x":990,"y":620,"wires":[],"icon":"/assets/icons/white-globe.png"},{"id":"3baf45ae709a9a2d","type":"split","z":"e5c86674bd5984e5","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":370,"y":700,"wires":[["e705ccf09d1bf3dd"]]},{"id":"35efca19fba1da99","type":"shopping-filter","z":"e5c86674bd5984e5","name":"11st filter","apiType":"11st","format":"json","sorttype":"asc","minprice":"","maxprice":"","x":780,"y":660,"wires":[["eb7e6eb8b3384ea9"]]},{"id":"eb7e6eb8b3384ea9","type":"shopping-formatter","z":"e5c86674bd5984e5","name":"11st formatter","apiType":"11st","x":960,"y":660,"wires":[[]]},{"id":"92eb584c8c840cf9","type":"db-query","z":"e5c86674bd5984e5","config":"bd90a7c8cd6a6911","name":"Create Table prices","sql":"-- select * from {{TableName}}\ncreate table prices\n(\n    itemId integer,\n    -- productName varchar(100),\n    price integer,\n    link varchar(1000),\n    created datetime,\n    updated datetime,\n    FOREIGN KEY (itemId) REFERENCES items(id)\n    -- FOREIGN KEY (productName) REFERENCES items(productName)\n);","x":750,"y":60,"wires":[[]]},{"id":"22def1ac89846e90","type":"shopping-filter","z":"e5c86674bd5984e5","name":"Naver filter","apiType":"naver","format":"json","sorttype":"asc","minprice":"","maxprice":"","x":790,"y":700,"wires":[["a61db3f9685115a5"]]},{"id":"a61db3f9685115a5","type":"shopping-formatter","z":"e5c86674bd5984e5","name":"Naver formatter","apiType":"naver","x":960,"y":700,"wires":[["3d58d828f3fda67c"]]},{"id":"eff491758c9489dd","type":"db-query","z":"e5c86674bd5984e5","config":"bd90a7c8cd6a6911","name":"createPrice","sql":"insert into prices\n(itemId, price, link, created, updated)\nvalues \n(\n    (select id from items where productName = '{{{productName}}}'),\n    -- '{{{id}}}',\n    -- '{{{productName}}}',\n    '{{{price}}}',\n    '{{{link}}}', \n    now(), \n    now()\n)\n","x":930,"y":500,"wires":[["95fc35ca6a0b0d79"]],"icon":"/assets/icons/db.png"},{"id":"523469e68ece1fe4","type":"inject","z":"e5c86674bd5984e5","name":"Trigger","props":[],"repeat":"21600","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":100,"y":700,"wires":[["345d962de7fe3559"]]},{"id":"345d962de7fe3559","type":"db-query","z":"e5c86674bd5984e5","config":"bd90a7c8cd6a6911","name":"select","sql":"select * \nfrom items\n-- limit 3;","x":250,"y":700,"wires":[["3baf45ae709a9a2d"]],"icon":"/assets/icons/db.png"},{"id":"5784c72f4eaf234b","type":"comment","z":"e5c86674bd5984e5","name":"사용자가 즐겨찾기 입력하고 제거하는 로직","info":"","x":180,"y":340,"wires":[]},{"id":"5c4f3161e6325e70","type":"comment","z":"e5c86674bd5984e5","name":"초기 DB 설정","info":"","x":90,"y":20,"wires":[]},{"id":"5d4942d34c06152c","type":"comment","z":"e5c86674bd5984e5","name":"저장된 아이템들 주기적으로 가격 업데이트(자동,수동) 로직","info":"","x":230,"y":660,"wires":[]},{"id":"e2c2a6836091f262","type":"db-query","z":"e5c86674bd5984e5","config":"bd90a7c8cd6a6911","name":"select","sql":"select *\nfrom prices\nwhere itemId = '{{req.params.id}}'","x":490,"y":460,"wires":[["80d9339deb813097"]],"icon":"/assets/icons/db.png"},{"id":"4f794f040f9ee85f","type":"http in","z":"e5c86674bd5984e5","name":"","url":"/items/:id","method":"get","upload":false,"swaggerDoc":"","x":110,"y":460,"wires":[["00fc5ab4bff78d98","345d962de7fe3559"]]},{"id":"53fb875e1f495800","type":"template","z":"e5c86674bd5984e5","name":"그래프","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta http-equiv=\"Content-Type\" content=\"text/html; charset=UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"ie=edge\">\n    <title>SASM Reports</title>\n    <link rel=\"stylesheet\" href=\"https://unpkg.com/bulma@0.9.0/css/bulma.min.css\"/>\n    <script src=\"https://cdn.jsdelivr.net/npm/apexcharts\"></script>\n    <script>\n        function applyApexCharts() {\n            data = JSON.parse('{{& payload}}')\n            console.log(data)\n            // for (const pay in data) {\n            //     console.log(pay, data[pay])\n            // }\n            var options = {\n                chart: {\n                    type: 'line'\n                },\n                series: [{\n                    data: data[0]\n                    // data: [[1324508400000, 34], [1324594800000, 54] ,[1326236400000, 43]]\n                }],\n                xaxis: {\n                    type: 'datetime'\n                },\n                markers: {\n                    size: 5\n                }\n            }\n            var chart = new ApexCharts(document.querySelector(\"#contents\"), options);\n            chart.render();\n        }\n    </script>\n</head>\n<body onload=\"applyApexCharts()\">\n<!--<body onload=\"wsConnect();\" onunload=\"ws.disconnect();\">-->\n<!-- Navigation bar -->\n<nav class=\"navbar is-fixed-top m-4 is-link\">\n\n    <div id=\"navbarExampleTransparentExample\" class=\"navbar-menu\">\n        <div class=\"navbar-end\">\n            <a class=\"navbar-item\" href=\"https://sasm.developer.samsung.com/get-free-trial\">\n                <span class=\"icon\">\n                <i class=\"fas fa-info\"></i>\n                </span>\n            <h3 class=\"title is-3 has-text-white\">SASM</h3>\n            </a>\n            <a class=\"navbar-item\" href=\"https://sasm.developer.samsung.com/\">\n                <span class=\"icon\">\n                <i class=\"fas fa-bars\"></i>\n                </span>\n            <h3 class=\"title is-3 has-text-white\">SASM Developers</h3>\n            </a>\n        </div>\n    </div>\n</nav>\n<!-- Header -->\n<section class=\"hero is-fullheight is-fullheight-with-navbar bg-pan-left\">\n    <div class=\"hero-body\">\n        <div class=\"container\">\n            <h1 class=\"title is-1 is-inline-block\">SASM Shopping Node</h1>\n            {{!--<h1 id=\"status\" class=\"subtitle is-4 is-inline-block has-text-grey-light\">(Connected)</h1>--}}\n            <h2 class=\"subtitle is-3\">Price Graph</h2>\n            <div id=\"contents\"></div>\n        </div>\n    </div>\n</section>\n</body>\n</html>","output":"str","x":870,"y":420,"wires":[["6b446d616f2daf39"]]},{"id":"54fff9c6d99d8e4b","type":"function","z":"e5c86674bd5984e5","name":"sorting","func":"function mySort(a, b) { \n    if(a.created == b.created){ \n        return 0;\n    } \n    return a.created < b.created ? 1 : -1; \n}\n// https://stackoverflow.com/questions/36588703/split-array-of-objects-in-javascript-into-separate-arrays-based-on-a-property\nfunction arrangeByKey (myArray, key) {\n    return myArray.reduce(function (r, a, i) {\n        if (!i || r[r.length - 1][0][key] !== a[key]) {\n            return r.concat([[a]]);\n        }\n        r[r.length - 1].push(a);\n        return r;\n    }, []);\n}\n\n// changes { price: 'price', created: 'created' } to [created, price]\nfunction keyValues (myArray) {\n    return myArray.map((myObject) => {\n        console.log(myObject)\n        // return [Date.parse(myObject.created), myObject.price]\n        return [myObject.created, myObject.price]\n    })\n}\n\n\n// msg.payload.sort(mySort);\n// console.log(msg.payload)\nmsg.payload = arrangeByKey(msg.payload, \"id\")\n// console.log(msg.payload)\n\nmsg.payload = JSON.stringify(msg.payload.map((product)=>{\n    return keyValues(product)\n}))\n        \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":750,"y":420,"wires":[["53fb875e1f495800"]],"icon":"/assets/icons/js.png"},{"id":"f216e40563e1ca9e","type":"comment","z":"e5c86674bd5984e5","name":"그래프로 보여주기(각각)","info":"","x":150,"y":420,"wires":[]},{"id":"00fc5ab4bff78d98","type":"switch","z":"e5c86674bd5984e5","name":"params req","property":"req.params.id","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":460,"wires":[["e2c2a6836091f262"],["18d50ff23028de76"]],"icon":"/assets/icons/switch.png"},{"id":"6f809cc899c2682b","type":"shopping","z":"e5c86674bd5984e5","name":"Naver S","apiType":"naverShopping","naverShoppingReturnType":"json","naverShoppingQuery":"{{productName}}","naverShoppingDisplay":"10","naverShoppingSort":"sim","naverShoppingStart":"1","naverShoppingFilter":"","naverShoppingCreds":"","sk11stApiCode":"","sk11stKeyword":"","sk11stCategoryCode":"","sk11stProductCode":"","sk11stPagenum":"1","sk11stPagesize":"50","sk11stSortcd":"","sk11stOption":"","sk11stTargetSearchPrd":"","sk11stCreds":"","x":640,"y":700,"wires":[["22def1ac89846e90"]]},{"id":"6d39bd4c8a9040ae","type":"db-query","z":"e5c86674bd5984e5","config":"bd90a7c8cd6a6911","name":"deleteItem","sql":"delete  \nfrom items\nwhere id = '{{id}}'","x":830,"y":580,"wires":[["c13283e1ad0b3d5b"]],"icon":"/assets/icons/db.png"},{"id":"22eb26f006f07e0c","type":"shopping","z":"e5c86674bd5984e5","name":"11st S","apiType":"sk11st","naverShoppingReturnType":"json","naverShoppingQuery":"","naverShoppingDisplay":"10","naverShoppingSort":"sim","naverShoppingStart":"1","naverShoppingFilter":"","naverShoppingCreds":"","sk11stApiCode":"ProductSearch","sk11stKeyword":"{{productName}}","sk11stCategoryCode":"","sk11stProductCode":"","sk11stPagenum":"1","sk11stPagesize":"50","sk11stSortcd":"","sk11stOption":"","sk11stTargetSearchPrd":"","sk11stCreds":"","x":630,"y":660,"wires":[["35efca19fba1da99"]]},{"id":"8ff5a2f672f7d741","type":"template","z":"e5c86674bd5984e5","name":"html","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta http-equiv=\"Content-Type\" content=\"text/html; charset=UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"ie=edge\">\n    <title>SASM Reports</title>\n    <link rel=\"stylesheet\" href=\"https://unpkg.com/bulma@0.9.0/css/bulma.min.css\"/>\n    <script type=\"text/javascript\">\n        showContents = function(msg){\n            var html = document.getElementById('contents').innerHTML;\n            var items = JSON.parse('{{& items}}')\n            console.log(items)\n    \n            html += `<div class=\"columns\">`;\n            for(var idx in items) {\n                html += `\n                <div class=\"card column is-3 mx-2 my-2\" id=\"item-`+ items[idx].id +`\">\n                    <div class=\"card-image\">\n                        <figure class=\"image is-4by3\">\n                        <img src=\"` + items[idx].image + `\" alt=\"Placeholder image\">\n                        </figure>\n                    </div>\n                    <div class=\"card-content mb-0\">\n                        <div class=\"media\">\n                            <div class=\"media-content\">\n                                <p class=\"title is-4\">` + items[idx].productName + `</p>\n                            </div>\n                        </div>\n                        <a class=\"button is-link is-fullwidth\" href=\"/items/` + items[idx].id + `\" target=\"_blank\">가격 흐름 보러가기</a>\n                        <a class=\"button is-fullwidth\" onclick=\"deleteItem(`+items[idx].id+`)\" href=\"/items/delete/` + items[idx].id + `\">즐겨찾기에서 제거</a>\n                    </div>\n                </div>\n                `;\n                if(idx % 4 == 3) html += `</div><div class=\"columns\">`;\n            }\n            html += `</div>`;\n            document.getElementById('contents').innerHTML = html;\n        }\n        deleteItem = function(id){\n            id = 'item-'+id\n            console.log(id)\n            item = document.getElementById(id)\n            item.remove()\n            \n        }\n    </script>\n</head>\n<body onload=\"showContents()\">\n<!-- Navigation bar -->\n<nav class=\"navbar is-fixed-top m-4 is-link\">\n\n    <div id=\"navbarExampleTransparentExample\" class=\"navbar-menu\">\n        <div class=\"navbar-end\">\n            <a class=\"navbar-item\" href=\"https://sasm.developer.samsung.com/get-free-trial\">\n                <span class=\"icon\">\n                <i class=\"fas fa-info\"></i>\n                </span>\n            <h3 class=\"title is-3 has-text-white\">SASM</h3>\n            </a>\n            <a class=\"navbar-item\" href=\"https://sasm.developer.samsung.com/\">\n                <span class=\"icon\">\n                <i class=\"fas fa-bars\"></i>\n                </span>\n            <h3 class=\"title is-3 has-text-white\">SASM Developers</h3>\n            </a>\n        </div>\n    </div>\n</nav>\n<!-- Header -->\n<section class=\"hero is-fullheight is-fullheight-with-navbar bg-pan-left\">\n    <div class=\"hero-body\">\n        <div class=\"container\">\n            <h1 class=\"title is-1 is-inline-block\">SASM Shopping Node</h1>\n            <!--<h1 id=\"status\" class=\"subtitle is-4 is-inline-block has-text-grey-light\">(Connected)</h1>-->\n            <h2 class=\"subtitle is-3\">Saved Items</h2>\n            <div id=\"contents\" class=\"mt-4\"></div>\n        </div>\n    </div>\n</section>\n</body>\n</html>","output":"str","x":870,"y":380,"wires":[["6b446d616f2daf39"]]},{"id":"3d58d828f3fda67c","type":"function","z":"e5c86674bd5984e5","name":"params","func":"\nfunction strip_tags (str) {\n    return str.replace(/(<([^>]+)>)/ig,\"\");\n}\n\n\n// msg.id = guid();\nmsg.productName = strip_tags(msg.productName)\n// msg.mall = decodeURI(msg.req.body.mall);\nmsg.link = msg.payload.items[0].link;\nmsg.price = msg.payload.items[0].price;\n// msg.image = decodeURI(msg.req.body.image);\n// msg.checked = \"false\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1120,"y":700,"wires":[["39ccdf32792e5058"]],"icon":"/assets/icons/js.png"},{"id":"39ccdf32792e5058","type":"db-query","z":"e5c86674bd5984e5","config":"bd90a7c8cd6a6911","name":"createPrice","sql":"insert into prices\n(itemId, price, link, created, updated)\nvalues \n('{{{id}}}','{{{price}}}', '{{{link}}}', now(), now())\n","x":1270,"y":700,"wires":[[]],"icon":"/assets/icons/db.png"},{"id":"e705ccf09d1bf3dd","type":"function","z":"e5c86674bd5984e5","name":"params","func":"msg.id = msg.payload.id\nmsg.productName = msg.payload.productName\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":700,"wires":[["6f809cc899c2682b"]]},{"id":"42ac9af962b24da8","type":"http in","z":"e5c86674bd5984e5","name":"","url":"/shopping","method":"get","upload":false,"swaggerDoc":"","x":120,"y":160,"wires":[["61608e751ed065dd"]]},{"id":"61608e751ed065dd","type":"template","z":"e5c86674bd5984e5","name":"submit 추가","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta http-equiv=\"Content-Type\" content=\"text/html; charset=UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"ie=edge\">\n    <title>SASM Reports</title>\n    <link rel=\"stylesheet\" href=\"https://unpkg.com/bulma@0.9.0/css/bulma.min.css\"/>\n    <script type=\"text/javascript\">\n        var ws;\n        var wsUri = \"ws:\";\n        var loc = window.location;\n        console.log(loc);\n        if (loc.protocol === \"https:\") { wsUri = \"wss:\"; }\n        wsUri += \"//\" + loc.host + loc.pathname.replace(\"shopping\",\"ws/shopping\");\n\n        function wsConnect() {\n            console.log(\"connect\",wsUri);\n            ws = new WebSocket(wsUri);\n            wsSendSearch = function (){\n                ws.send(document.getElementById('myInput').value)\n            }\n            document.getElementById('myInput').addEventListener(\"keyup\", event => {\n                if(event.key !== \"Enter\") return; // Use `.key` instead.\n                // console.log('ws:',ws)\n                // console.log('search:',document.getElementById('myInput').value)\n                ws.send(document.getElementById('myInput').value)\n            });\n            ws.onmessage = function(msg) {\n                var html = document.getElementById('contents').innerHTML;\n                console.log(msg.data);\n                var obj = JSON.parse(msg.data);\n                var items = obj.items;\n\n                html += `<div class=\"columns\">`;\n                for(var idx in items) {\n                    html += `\n                    <div class=\"card column is-3 mx-2 my-2\">\n                        <div class=\"card-image\">\n                            <figure class=\"image is-4by3\">\n                            <img src=\"` + items[idx].image + `\" alt=\"Placeholder image\">\n                            </figure>\n                        </div>\n                        <div class=\"card-content\">\n                            <div class=\"media\">\n                                <div class=\"media-content\">\n                                    <p class=\"title is-4\">` + items[idx].title + `</p>\n                                    <p class=\"subtitle is-6\">Brand / Maker: ` + items[idx].brand + ` / ` + items[idx].maker + `</p>\n                                </div>\n                            </div>\n                        \n                            <div class=\"content\">\n                            ₩ ` + items[idx].lprice.replace(/\\B(?<!\\.\\d*)(?=(\\d{3})+(?!\\d))/g, \",\") + ` ~ ` + items[idx].hprice.replace(/\\B(?<!\\.\\d*)(?=(\\d{3})+(?!\\d))/g, \",\") + `\n                            </div>\n                            <a class=\"button is-link is-fullwidth\" href=\"` + items[idx].link + `\" target=\"_blank\">Click Here</a>\n                            <iframe style=\"display:none\" name=\"post-frame\"></iframe>\n                            <form method=\"post\" action=\"/items\" accept-charset=\"UTF-8\" target=\"post-frame\" id=\"post-form\">\n                                <input type=\"hidden\" name=\"mall\" value=\"`+items[idx].mallName+`\">\n                                <input type=\"hidden\" name=\"link\" value=\"`+items[idx].link+`\">\n                                <input type=\"hidden\" name=\"price\" value=\"`+items[idx].lprice+`\">\n                                <input type=\"hidden\" name=\"image\" value=\"`+items[idx].image+`\">\n                                <input type=\"hidden\" name=\"productName\" value=\"`+items[idx].title+`\">\n                                <input type=\"submit\" class=\"button is-fullwidth \" value=\"즐겨찾기에 저장\" ></input>\n                            </form>\n                        </div>\n                    </div>\n                    `;\n                    if(idx % 4 == 3) html += `</div><div class=\"columns\">`;\n                }\n                html += `</div>`;\n                document.getElementById('contents').innerHTML = html;\n                // https://stackoverflow.com/questions/17940811/example-of-silently-submitting-a-post-form-csrf\n                document.getElementById(\"post-form\").submit()\n\n\n\n                \n            }\n            ws.onopen = function() {\n                document.getElementById('status').innerHTML = \"(Connected)\";\n                console.log(\"connected\");\n            }\n            ws.onclose = function() {\n                document.getElementById('status').innerHTML = \"(Not Connected)\";\n                setTimeout(wsConnect,3000);\n            }\n            \n        }\n\n        \n        \n    </script>\n</head>\n<body onload=\"wsConnect();\" onunload=\"ws.disconnect();\">\n<!-- Navigation bar -->\n<nav class=\"navbar is-fixed-top m-4 is-link\">\n\n    <div id=\"navbarExampleTransparentExample\" class=\"navbar-menu\">\n        <div class=\"navbar-end\">\n            <a class=\"navbar-item\" href=\"https://sasm.developer.samsung.com/get-free-trial\">\n                <span class=\"icon\">\n                <i class=\"fas fa-info\"></i>\n                </span>\n            <h3 class=\"title is-3 has-text-white\">SASM</h3>\n            </a>\n            <a class=\"navbar-item\" href=\"https://sasm.developer.samsung.com/\">\n                <span class=\"icon\">\n                <i class=\"fas fa-bars\"></i>\n                </span>\n            <h3 class=\"title is-3 has-text-white\">SASM Developers</h3>\n            </a>\n        </div>\n    </div>\n</nav>\n<!-- Header -->\n<section class=\"hero is-fullheight is-fullheight-with-navbar bg-pan-left\">\n    <div class=\"hero-body\">\n        <div class=\"container\">\n            <h1 class=\"title is-1 is-inline-block\">SASM Shopping Node</h1>\n            <h1 id=\"status\" class=\"subtitle is-4 is-inline-block has-text-grey-light\">(Connected)</h1>\n            <div class=\"field has-addons\">\n                <div class=\"control is-expanded\">\n                    <input class=\"input\" type=\"text\" placeholder=\"Search\" id=\"myInput\">\n                </div>\n                <div class=\"control\">\n                    <input type=\"submit\" class=\"button is-link\" onClick=\"wsSendSearch()\">\n                </div>\n            </div>\n            <h2 class=\"subtitle is-3\">Search Results</h2>\n            <div id=\"contents\" class=\"mt-4\"></div>\n        </div>\n    </div>\n</section>\n</body>\n</html>","output":"str","x":370,"y":160,"wires":[["f5772908faceb730"]]},{"id":"f5772908faceb730","type":"http response","z":"e5c86674bd5984e5","name":"","statusCode":"","headers":{},"x":610,"y":160,"wires":[]},{"id":"1112df1f9c7e46ba","type":"websocket out","z":"e5c86674bd5984e5","name":"","server":"d407fb1dfe1b6202","client":"","x":650,"y":200,"wires":[]},{"id":"e3cab0950dee82aa","type":"comment","z":"e5c86674bd5984e5","name":"최초 쇼핑화면","info":"","x":90,"y":120,"wires":[]},{"id":"4f62bb2230e340a9","type":"shopping","z":"e5c86674bd5984e5","name":"Naver Shopping","apiType":"naverShopping","naverShoppingReturnType":"json","naverShoppingQuery":"{{payload}}","naverShoppingDisplay":"10","naverShoppingSort":"sim","naverShoppingStart":"1","naverShoppingFilter":"","naverShoppingCreds":"","sk11stApiCode":"","sk11stKeyword":"","sk11stCategoryCode":"","sk11stProductCode":"","sk11stPagenum":"1","sk11stPagesize":"50","sk11stSortcd":"","sk11stOption":"","sk11stTargetSearchPrd":"","sk11stCreds":"","x":380,"y":200,"wires":[["1112df1f9c7e46ba"]]},{"id":"a0b4568cf35b987d","type":"db-query","z":"e5c86674bd5984e5","config":"bd90a7c8cd6a6911","name":"getId","sql":"select id from items where productName = '{{{productName}}}'","x":790,"y":500,"wires":[["eff491758c9489dd"]]},{"id":"d04377302d60cb5d","type":"websocket in","z":"e5c86674bd5984e5","name":"","server":"d407fb1dfe1b6202","client":"","x":150,"y":200,"wires":[["4f62bb2230e340a9"]]},{"id":"d407fb1dfe1b6202","type":"websocket-listener","path":"/ws/shopping","wholemsg":"false"}]