templates/StockNotificationAutomation.json
[
  {
    "id": "50b429fd.81b448",
    "type": "tab",
    "label": "재고관리",
    "disabled": false,
    "info": ""
  },
  {
    "id": "4e4abc8ebd40cad5",
    "type": "installed-device",
    "z": "50b429fd.81b448",
    "name": "",
    "alias": "token:a43fb58c",
    "device": "",
    "devices": [
      "a5edf239-2d9d-f37c-763d-9dced11dba47",
      "2e4263ec-b06c-402b-b32f-9d3b5b62535f",
      "65b4e1ac-e12b-4f4a-b3d9-70f6e53f2211",
      "bceee9fb-d3cd-f5f2-0f32-4be93e9f42eb",
      "b8cc83a5-0112-f12f-aa26-6f71e121a9c4",
      "38ac9035-1a8f-4024-b9a7-9bfefed5320f",
      "c26c624c-ea55-685c-b675-5b7dd9295c04",
      "0d45b388-cd91-786b-9767-a9fe68fac76d",
      "5a10bf3c-4b85-b614-6a67-c9955b10f2dd",
      "9f5b3381-5930-eea4-4bdc-6dc7a167617c",
      "a413c3cf-e77f-e4c1-63ad-d563fbfa5aaf",
      "9599b483-5d07-7680-d95b-cd3cdedc3a3a",
      "cb1c2ca2-4a46-e61f-e183-76264de4b83f",
      "71e98c97-4ce3-74ce-dc6f-373393b10521",
      "4090eeee-8685-fd5c-9ce5-137c5b2b2d4d",
      "6ad694e9-8ecc-9ac7-ee8c-39ae91941ec2",
      "0f7cfc70-7329-0c3f-1b8c-66bfdca3e058",
      "6048e041-ced5-980f-defc-402f66849264",
      "fd4de8a8-cd11-7794-3e5d-a8e37913b7b4",
      "54778efb-f04e-84ee-5a23-8ddf07d1488e"
    ],
    "profileId": "4e4abc8ebd40cad5",
    "x": 100,
    "y": 80,
    "wires": []
  },
  {
    "id": "6496bb8d.898d54",
    "type": "status-device",
    "z": "50b429fd.81b448",
    "name": "Switch==on",
    "alias": "가상스위치_5기",
    "deviceNodeId": "4e4abc8ebd40cad5",
    "deviceType": "installed-device",
    "deviceId": "2e4263ec-b06c-402b-b32f-9d3b5b62535f",
    "capabilityId": "switch_v1",
    "attributeId": "switch",
    "rules": [],
    "logging": false,
    "loggingEditor": true,
    "loggingConsole": false,
    "outputs": 1,
    "x": 430,
    "y": 280,
    "wires": [["ae34f46f923bba33"]]
  },
  {
    "id": "b1847811e14be8b1",
    "type": "shopping-filter",
    "z": "50b429fd.81b448",
    "name": "",
    "apiType": "11st",
    "format": "json",
    "sorttype": "asc",
    "minprice": "",
    "maxprice": "",
    "x": 820,
    "y": 360,
    "wires": [["5d7e7d631347e6a0", "d50f59622354b6bd"]]
  },
  {
    "id": "6258f683604b2a4e",
    "type": "http in",
    "z": "50b429fd.81b448",
    "name": "",
    "url": "/shopping-auto",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 110,
    "y": 220,
    "wires": [["17221417a19970f1"]]
  },
  {
    "id": "17221417a19970f1",
    "type": "template",
    "z": "50b429fd.81b448",
    "name": "shopping",
    "field": "payload",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "<!DOCTYPE html>\n<html lang=\"en\">\n  <head>\n    <meta http-equiv=\"Content-Type\" content=\"text/html; charset=UTF-8\" />\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\" />\n    <meta http-equiv=\"X-UA-Compatible\" content=\"ie=edge\" />\n    <title>SASM Reports</title>\n    <link\n      rel=\"stylesheet\"\n      href=\"https://unpkg.com/bulma@0.9.0/css/bulma.min.css\"\n    />\n    <script type=\"text/javascript\">\n      var ws;\n      var wsUri = \"ws:\";\n      var loc = window.location;\n      console.log(loc);\n      if (loc.protocol === \"https:\") {\n        wsUri = \"wss:\";\n      }\n      wsUri +=\n        \"//\" +\n        loc.host +\n        loc.pathname.replace(\"shopping-auto\", \"ws/shopping-auto\");\n\n      function wsConnect() {\n        console.log(\"connect\", wsUri);\n        ws = new WebSocket(wsUri);\n        ws.onmessage = function (msg) {\n          var html = document.getElementById(\"contents\").innerHTML;\n          console.log(msg.data);\n          var obj = JSON.parse(msg.data);\n          var items = obj.items;\n\n          html += `<div class=\"columns\">`;\n          for (var idx in items) {\n            html +=\n              `\n                    <div class=\"card column is-3 mx-2 my-2\">\n                        <div class=\"card-image\">\n                            <figure class=\"image is-4by3\">\n                            <img src=\"` +\n              items[idx].image +\n              `\" alt=\"Placeholder image\">\n                            </figure>\n                        </div>\n                        <div class=\"card-content\">\n                            <div class=\"media\">\n                                <div class=\"media-content\">\n                                    <p class=\"title is-4\">` +\n              items[idx].productName +\n              `</p>\n                                </div>\n                            </div>\n                        \n                            <div class=\"content\">\n                            ₩ ` +\n              items[idx].price.replace(/\\B(?<!\\.\\d*)(?=(\\d{3})+(?!\\d))/g, \",\") +\n              `\n                            </div>\n                            <a class=\"button is-link\" href=\"` +\n              items[idx].link +\n              `\" target=\"_blank\">Click Here</a>\n                        </div>\n                    </div>\n                    `;\n            if (idx % 4 == 3) html += `</div><div class=\"columns\">`;\n          }\n          html += `</div>`;\n          document.getElementById(\"contents\").innerHTML = html;\n        };\n        ws.onopen = function () {\n          document.getElementById(\"status\").innerHTML = \"(Connected)\";\n          console.log(\"connected\");\n          if(ws) {ws.send(\"start\");}\n        };\n        ws.onclose = function () {\n          document.getElementById(\"status\").innerHTML = \"(Not Connected)\";\n          setTimeout(wsConnect, 3000);\n        };\n      }\n    </script>\n  </head>\n  <body onload=\"wsConnect();\" onunload=\"ws.disconnect();\">\n    <!-- Navigation bar -->\n    <nav class=\"navbar is-fixed-top m-4 is-link\">\n      <div id=\"navbarExampleTransparentExample\" class=\"navbar-menu\">\n        <div class=\"navbar-end\">\n          <a\n            class=\"navbar-item\"\n            href=\"https://sasm.developer.samsung.com/get-free-trial\"\n          >\n            <span class=\"icon\">\n              <i class=\"fas fa-info\"></i>\n            </span>\n            <h3 class=\"title is-3 has-text-white\">SASM</h3>\n          </a>\n          <a class=\"navbar-item\" href=\"https://sasm.developer.samsung.com/\">\n            <span class=\"icon\">\n              <i class=\"fas fa-bars\"></i>\n            </span>\n            <h3 class=\"title is-3 has-text-white\">SASM Developers</h3>\n          </a>\n        </div>\n      </div>\n    </nav>\n    <!-- Header -->\n    <section class=\"hero is-fullheight is-fullheight-with-navbar bg-pan-left\">\n      <div class=\"hero-body\">\n        <div class=\"container\">\n          <h1 class=\"title is-1 is-inline-block\">SASM Shopping List</h1>\n          <h1\n            id=\"status\"\n            class=\"subtitle is-4 is-inline-block has-text-grey-light\"\n          >\n            (Connected)\n          </h1>\n          <h2 class=\"subtitle is-3\">Search Results</h2>\n          <div id=\"contents\" class=\"mt-4\"></div>\n        </div>\n      </div>\n    </section>\n  </body>\n</html>\n",
    "output": "str",
    "x": 320,
    "y": 220,
    "wires": [["7edf88b95499cb12"]]
  },
  {
    "id": "7edf88b95499cb12",
    "type": "http response",
    "z": "50b429fd.81b448",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 490,
    "y": 220,
    "wires": []
  },
  {
    "id": "5d7e7d631347e6a0",
    "type": "websocket out",
    "z": "50b429fd.81b448",
    "name": "",
    "server": "abd4ba9f174cf272",
    "client": "",
    "x": 1040,
    "y": 360,
    "wires": []
  },
  {
    "id": "8b5c26bbe8890ea3",
    "type": "event-device",
    "z": "50b429fd.81b448",
    "name": "switch",
    "alias": "Switch",
    "deviceNodeId": "25068b9b4e679b7e",
    "deviceType": "device-profile",
    "deviceId": "25068b9b4e679b7e",
    "componentId": "main",
    "capabilityId": "switch_v1",
    "attributeId": "switch",
    "rules": [
      {
        "capaId": "switch_v1",
        "attrId": "switch",
        "operator": "eq",
        "valueType": "string",
        "argType": "enum",
        "value": "on"
      }
    ],
    "logging": false,
    "loggingEditor": false,
    "loggingConsole": false,
    "outputs": 1,
    "x": 290,
    "y": 280,
    "wires": [["6496bb8d.898d54"]]
  },
  {
    "id": "8703d5945c820858",
    "type": "automation",
    "z": "50b429fd.81b448",
    "name": "",
    "alias": "[post]/meseon-switch",
    "method": "post",
    "url": "/meseon-switch",
    "urlDate": 1633436726952,
    "eqtype": "",
    "loggingEditor": false,
    "loggingConsole": false,
    "x": 120,
    "y": 280,
    "wires": [["8b5c26bbe8890ea3"]]
  },
  {
    "id": "25068b9b4e679b7e",
    "type": "device-profile",
    "z": "50b429fd.81b448",
    "name": "Switch",
    "alias": "switch_v1",
    "capabilityId": "switch_v1",
    "profileId": "25068b9b4e679b7e",
    "cpType": "standard",
    "capabilityId_standard": "switch_v1",
    "capabilityId_custom": "",
    "x": 70,
    "y": 140,
    "wires": []
  },
  {
    "id": "80c9ae48e2e41ed9",
    "type": "shopping",
    "z": "50b429fd.81b448",
    "name": "11st-Shopping",
    "apiType": "sk11st",
    "naverShoppingReturnType": "json",
    "naverShoppingQuery": "{{payload}}",
    "naverShoppingDisplay": "10",
    "naverShoppingSort": "sim",
    "naverShoppingStart": "1",
    "naverShoppingFilter": "",
    "naverShoppingCreds": "aa6247b705d76e19",
    "sk11stApiCode": "ProductSearch",
    "sk11stKeyword": "{{payload}}",
    "sk11stCategoryCode": "",
    "sk11stProductCode": "",
    "sk11stPagenum": "1",
    "sk11stPagesize": "50",
    "sk11stSortcd": "L",
    "sk11stOption": "",
    "sk11stTargetSearchPrd": "",
    "sk11stCreds": "",
    "x": 420,
    "y": 360,
    "wires": [["38d80977b69a1dcd"]]
  },
  {
    "id": "ae34f46f923bba33",
    "type": "template",
    "z": "50b429fd.81b448",
    "name": "Query",
    "field": "payload",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "코카콜라 제로, 가나 초콜릿",
    "output": "str",
    "x": 250,
    "y": 360,
    "wires": [["80c9ae48e2e41ed9"]]
  },
  {
    "id": "38d80977b69a1dcd",
    "type": "shopping-formatter",
    "z": "50b429fd.81b448",
    "name": "",
    "apiType": "11st",
    "x": 630,
    "y": 360,
    "wires": [["b1847811e14be8b1"]]
  },
  {
    "id": "d50f59622354b6bd",
    "type": "slack-notification",
    "z": "50b429fd.81b448",
    "name": "",
    "notificationtype": "slack",
    "datatype": "json",
    "datavalue": "{\"hooks\":\"uel\",\"text\":\"재고가 떨어졌어요! url|Click> :star:\"}",
    "x": 1050,
    "y": 420,
    "wires": []
  },
  {
    "id": "bc498666f224409b",
    "type": "websocket in",
    "z": "50b429fd.81b448",
    "name": "",
    "server": "abd4ba9f174cf272",
    "client": "",
    "x": 120,
    "y": 500,
    "wires": [["cbcb41611408106c"]]
  },
  {
    "id": "cbcb41611408106c",
    "type": "template",
    "z": "50b429fd.81b448",
    "name": "Query",
    "field": "payload",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "코카콜라 제로, 가나 초콜릿, 냉동 피자",
    "output": "str",
    "x": 310,
    "y": 500,
    "wires": [["33a0bc68356c9a7f"]]
  },
  {
    "id": "33a0bc68356c9a7f",
    "type": "shopping",
    "z": "50b429fd.81b448",
    "name": "11st-Shopping",
    "apiType": "sk11st",
    "naverShoppingReturnType": "json",
    "naverShoppingQuery": "{{payload}}",
    "naverShoppingDisplay": "10",
    "naverShoppingSort": "sim",
    "naverShoppingStart": "1",
    "naverShoppingFilter": "",
    "naverShoppingCreds": "aa6247b705d76e19",
    "sk11stApiCode": "ProductSearch",
    "sk11stKeyword": "{{payload}}",
    "sk11stCategoryCode": "",
    "sk11stProductCode": "",
    "sk11stPagenum": "1",
    "sk11stPagesize": "50",
    "sk11stSortcd": "L",
    "sk11stOption": "",
    "sk11stTargetSearchPrd": "",
    "sk11stCreds": "",
    "x": 460,
    "y": 500,
    "wires": [["9e7ffbdd4d92b270"]]
  },
  {
    "id": "60669b0eb685437c",
    "type": "websocket out",
    "z": "50b429fd.81b448",
    "name": "",
    "server": "abd4ba9f174cf272",
    "client": "",
    "x": 1050,
    "y": 500,
    "wires": []
  },
  {
    "id": "9e7ffbdd4d92b270",
    "type": "shopping-formatter",
    "z": "50b429fd.81b448",
    "name": "",
    "apiType": "11st",
    "x": 650,
    "y": 500,
    "wires": [["d7e7e3c456283d59"]]
  },
  {
    "id": "d7e7e3c456283d59",
    "type": "shopping-filter",
    "z": "50b429fd.81b448",
    "name": "",
    "apiType": "11st",
    "format": "json",
    "sorttype": "asc",
    "minprice": "",
    "maxprice": "",
    "x": 840,
    "y": 500,
    "wires": [["60669b0eb685437c"]]
  },
  {
    "id": "abd4ba9f174cf272",
    "type": "websocket-listener",
    "path": "/ws/shopping-auto",
    "wholemsg": "false"
  },
  {
    "id": "aa6247b705d76e19",
    "type": "naverShoppingApiKey",
    "name": "lsh104305@naver.com"
  }
]
