detection/Flow.json
[{"id":"e7f7061edfe05901","type":"tab","label":"Pose Detection (MongoDB)","disabled":false,"info":""},{"id":"a57a39ca3e9303a5","type":"http in","z":"e7f7061edfe05901","name":"","url":"/mediapipe","method":"get","upload":false,"swaggerDoc":"","x":120,"y":120,"wires":[["4e9a035f8e48534f","534ea10a381b4e59"]]},{"id":"37e088954e057a03","type":"http response","z":"e7f7061edfe05901","name":"","statusCode":"200","headers":{},"x":560,"y":240,"wires":[]},{"id":"4e9a035f8e48534f","type":"node-red-contrib-pose-detection","z":"e7f7061edfe05901","name":"","x":340,"y":200,"wires":[["37e088954e057a03"]]},{"id":"534ea10a381b4e59","type":"change","z":"e7f7061edfe05901","name":"Initialize","rules":[{"t":"delete","p":"payload","pt":"flow"},{"t":"delete","p":"poses","pt":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":80,"wires":[["717502fd59072371"]]},{"id":"8d8d5d3eea28f798","type":"function","z":"e7f7061edfe05901","name":"Array Setting","func":"flow.set(\"payload\", msg.payload);\n//msg.payload = flow.get(\"payload\");\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\nglobal.payload = [];","finalize":"","libs":[],"x":710,"y":140,"wires":[["d7f4761eaa35c9a3"]]},{"id":"d7f4761eaa35c9a3","type":"debug","z":"e7f7061edfe05901","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":140,"wires":[]},{"id":"717502fd59072371","type":"mongodb in","z":"e7f7061edfe05901","mongodb":"8f0a01753ee0af88","name":"","collection":"pose","operation":"find","x":530,"y":80,"wires":[["8d8d5d3eea28f798"]]},{"id":"6bc93ded94791025","type":"websocket in","z":"e7f7061edfe05901","name":"","server":"900065d3a1336397","client":"","x":130,"y":540,"wires":[["6fcce977f525cc38","12861b9d45e3c00a"]]},{"id":"6fcce977f525cc38","type":"debug","z":"e7f7061edfe05901","name":"","active":true,"tosidebar":false,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":400,"y":500,"wires":[]},{"id":"12861b9d45e3c00a","type":"function","z":"e7f7061edfe05901","name":"Info Insert","func":"//point_context = flow.get(\"payload\");\n//point_context.push(msg.payload);\npoint_context = `{\"pose1\": `+msg.payload+`}`;\n\nflow.set(\"payload\", point_context);","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":580,"wires":[[]]},{"id":"3c6b7aec2a113b10","type":"http in","z":"e7f7061edfe05901","name":"","url":"/regist","method":"post","upload":false,"swaggerDoc":"","x":110,"y":300,"wires":[["14ebf90bbe9d43f5","b8c01691ce768425","9b7cc55c6e384f9f"]]},{"id":"14ebf90bbe9d43f5","type":"function","z":"e7f7061edfe05901","name":"Info Insert","func":"point_context = flow.get(\"payload\");\npoint_context.push(msg.payload);\n\nflow.set(\"payload\", point_context);","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":360,"wires":[[]]},{"id":"b8c01691ce768425","type":"debug","z":"e7f7061edfe05901","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":330,"y":420,"wires":[]},{"id":"9b7cc55c6e384f9f","type":"mongodb out","z":"e7f7061edfe05901","mongodb":"8f0a01753ee0af88","name":"Insert","collection":"pose","payonly":true,"upsert":false,"multi":false,"operation":"insert","x":310,"y":300,"wires":[]},{"id":"8f0a01753ee0af88","type":"mongodb","hostname":"127.0.0.1","topology":"direct","connectOptions":"","port":"27017","db":"admin","name":""},{"id":"900065d3a1336397","type":"websocket-listener","path":"/ws/mediapipe","wholemsg":"false"}]